<h3>Nieuw</h3> 

<h4>Toelichting bij de voorlegger-items</h4> 
<p> De werkinstructies voor het opvoeren van een dossier zijn toegevoegd aan de relevante voorlegger-items waarop deze instructies van toepassing zijn. </p> 

<h4>Datum van indienen op het dossieroverzichtsscherm</h4> 
<p> De datum van indienen wordt nu weergegeven op het dossieroverzichtsscherm. Dit is de datum waarop de Bewindvoerder of Schuldhulpverlener op de knop 'Verzenden naar GKA' klikt. </p> 

<h4>Aanpassing keuze voor 'Kwijtschelding Gemeentebelastingen'</h4> 
<p> 
  De gebruiker kan nu kiezen uit de opties: 'ja', 'nee' of 'niet van toepassing'. 
  Standaard blijft het veld leeg, en de gebruiker moet actief een keuze maken. 
  Voorheen was er een checkbox die wel of niet aangevinkt kon worden. 
  Voor alle dossiers waarbij de checkbox niet was aangevinkt, moet de gebruiker nu een nieuwe keuze maken. </p> 

<h4>Kleine verbeteringen</h4> 
<ul>
  <li> De contactdatum bij een schuld moet nu actief worden ingevoerd. Voorheen werd de huidige datum standaard ingevuld. </li> 
  <li> De contactdatum bij een schuld wordt nu verplicht gevalideerd in de browser. </li> 
  <li> De optie 'n.v.t.' bij 'Polisblad Zorgverzekering' is verwijderd uit de mogelijke statussen. </li> 
  <li> Er is een toelichting toegevoegd over welke bestandsformaten geüpload kunnen worden. </li> 
</ul> 
<h3>Opgelost</h3>
<ul>
   <li> Een kwetsbaarheid in de code van het 'datepicker'-component (voor het selecteren van een datum) is opgelost. Het component is vervangen door de standaard 'datepicker' van de browser. 
   </li>
   <li> De gebruiker krijgt nu feedback als er tijdens het opslaan van een dossier iets fout gaat op de server. Voorheen ontving de gebruiker geen melding, waardoor het onduidelijk was dat een wijziging niet was opgeslagen. </li> 
</ul>