<p>In deze release ligt de focus op o.a. het kunnen weergeven van meer bestandsformaten, het aanpassen van dossierstatus en </p>

<h3>Nieuw</h3>
<h4>Toevoegen van afbeeldingen</h4>
<ul>
  <li>
    De <strong>afbeeldingsbestanden JPEG en PNG</strong> kunnen nu direct in SchuldDossier worden bekeken. Ondersteunde bestandsformaten zijn nu: PDF, JPEG en PNG. Andere bestandsformaten moeten eerst gedownload worden.
  </li>
  <li>
    <strong>Afbeelding vanuit klembord plakken:</strong> Wanneer je een afbeelding naar het klembord kopieert, bijvoorbeeld door een screenshot te maken, dan kan deze direct in een sectie of schuld worden geplakt. Doe dit door de toetsencombinatie control-V te gebruiken. Let op: Dit werkt (nog) niet in Internet Explorer!
    <img width="600px" src="/images/release-notes/paste-screenshot-anim.gif">
  </li>
</ul>

<h4>Dossier-status wijzigen</h4>
<p>
  MaDi Key-users en GKA App beheerders kunnen vanaf heden de voor hen zichtbare dossiers aanpassen naar elk mogelijke status. Dit kan vanaf het dossier-dashboard. Kan je dit zelf niet? Neem dan contact op met een MaDi Key-user of een GKA App beheerder.
  <img width="600px" src="/images/release-notes/status-aanpassen-anim.gif">
</p>
<h4>Meerdere pagina's tegelijk toevoegen aan een dossier vanuit de PDF-splitter</h4>
<p>
  Je kunt nu meerdere pagina's selecteren in de PDF-splitter om deze naar een sectie of schuld te slepen. Door op een pagina te klikken selecteer en deselecteer je deze. Wanneer je een van de geselecteerde pagina's sleept naar het dossier, dan worden al deze geselecteerde pagina's toegevoegd.
  <img width="600px" src="/images/release-notes/split-multi-select-anim.gif">
</p>
<h4>Opgelost</h4>
<ul>
  <li>
    <strong>Veld-validatie: </strong>Bij het invoeren van informatievelden wordt nu gecontroleerd wanneer je nog aan het invullen bent. Hierdoor raakt er niks verloren bij het opslaan wanneer er iets niet klopt.
  </li>
</ul>
