<!-- Features -->
<h3>Nieuw</h3>

<h4>PDF-documenten zijn venstervullend te bekijken in een nieuw tabblad.</h4>
<p>Op bijlagen van het type "PDF" is nu een vergrootknop te vinden tussen de verwijder- en downloadknop.</p>

<!-- Enhancements -->
<h3>Aanpassingen</h4>

<ul>
  <li>N.v.t.</li>
</ul>

<!-- Fixes -->
<h3>Opgelost</h3>

<ul>
   <li>Verscheidene kwetsbaarheden zijn opgelost.</li>
</ul>
