<!-- Features -->
<h3>Nieuw</h3>

<h4>PDF-documenten zijn op volledig scherm te bekijken in een nieuw tabblad.</h4>
<p>In de lijst met documenten is voor elk document van het type "PDF" een knop toegevoegd. Als je op deze knop drukt wordt het document ge-opend in nieuw tabblad. Deze knop is te vinden tussen de verwijder- en downloadknop en is herkeenbaar aan dit icoon: <i class="icon-fullscreen"></i>  
 </p>

<!-- Fixes -->
<h3>Opgelost</h3>

<ul>
   <li>In het kader van security zijn er kleine updates gedaan op diverse afhankelijkheden. </li>
</ul>
