$fontSize: 1.4rem;
$fontSmallSize: 1.2rem;
$lineHeightRelative: 1.375;
$lineHeight: $fontSize * $lineHeightRelative;

// breakpoints
$large: 1290px;
$medium: 900px;
$small: 700px;


$brandColor1: #ec0000;
$brandColor2: #6db5d6;

$textColor: #000;
$accentColor: $brandColor1;
$lightColor: #f0f0f0;
$lightColor2: #f2f2f2;
$lightColor2-5: #ededed;
$lightColor3: #dddddd;
$borderColor: #e2e2e2;
$borderColor2: #979797;

$padding: 3rem;
$unit: 80px;

$maxContentWidth: 900px;
$maxWidth: 1400px;

$transition-ease-default: cubic-bezier(0.165, 0.84, 0.44, 1);

$pdfSplitterWidth: 300px;

$statusSize: 2.4rem;