<h3>Nieuw</h3>
<h4>Knop dossier-status verplaatst</h4>
<p>
  De knop om het dossier naar de volgende (of vorige) status door te zetten is verplaatst naar het dashboard. Om de knop te zien moeten secties gesloten worden.
</p>
<img width="600px" src="/images/release-notes/moved-status-buttons.jpg">
<h4>Telefoonnummer dossierbehandelaar</h4>
<p>
  Iedereen kan nu zijn eigen telefoonnummer toevoegen aan SchuldDossier. Indien bekend zal het nummer van de dossierbehandelaar in het dossier-dashboard zichtbaar zijn. Vul je nummer in na de eerste keer inloggen of via Menu > Mijn gegevens.
</p>
<img width="600px" src="/images/release-notes/edit-phonenr-anim.gif">

<h3>Opgelost</h3>
<ul>
  <li>
    Dossiers in de prullenbak kunnen nu definitief worden verwijderd
  </li>
  <li>
    Scroll-down-knop bij PDF-splitser niet zichtbaar
  </li>
  <li>
    MaDi Key-user en App-beheerder kunnen nu een dossier naar alle mogelijke statussen wijzigen
  </li>
</ul>
