<!-- Features -->
<h3>Nieuw</h3>

<h4>Gewijzigde velden van Dossiers en Schulden zichtbaar in het logboek</h4>
<p>Bij wijzigingen in dossier- of schuldvelden worden zowel de oude als de nieuwe waarden vastgelegd in het logboek. Dit logboek is te vinden onder 'Alle acties' op het dossierdashboard.
</p>

<!-- Enhancements -->
<h3>Aanpassingen</h4>

<ul>
  <li>De knop 'Dossier exporteren' is niet langer zichtbaar voor GKA-medewerkers. Alleen Admins hebben toegang tot deze knop. De functionaliteit wordt opnieuw beschikbaar gesteld zodra deze correct werkt.</li>
</ul>

<!-- Fixes -->
<h3>Opgelost</h3>

<ul>
   <li>In het kader van security zijn er kleine updates gedaan op diverse afhankelijkheden.</li>
</ul>

