{% extends 'master.html.twig' %}

{% block title %}Logs - {{ parent() }}{% endblock %}

{% block pdfsplitter %}{% endblock %}

{% block document %}

    <div class="document well">
        <div class="document-header group">
            <h1 class="document-title">Beperkt toegang</h1>
            <nav class="nav-internal">
                <ul>
                    <li>Logs</li>
                </ul>
            </nav>
        </div>
        <p>Uw account beperkt toegang tot het Schulddossier. Neem contact op met uw applicatie beheerder.</p>
        <blockquote style="font-style: italic">
            {{ message }}
        </blockquote>
    </div>
{% endblock %}
