<p>Focus bij deze versie ligt op het verbeteren van uitleg van Schulddossier</p>

<h3>Nieuw</h3>
<h4 id="uitleg-versies">Uitleg versies</h4>
<p>
  Wanneer een nieuwe versie van Schulddossier beschikbaar komt, zie je naast de Menu-knop dat er veranderingen zijn geweest. Van daaruit kan je doorklikken naar een overzicht met uitleg van de veranderingen.
</p>
<img width="600px" src="/images/release-notes/versies-anim.gif">
<h4 id="help">Help / handleiding</h4>
<p>
  De handleiding is toegevoegd aan Schulddosier.
</p>
<img width="600px" src="/images/release-notes/help-anim.gif">

<h3>Opgelost:</h3>
<ul>
  <li>
    Een aantal bugs in het nieuwe design van vorige release, met name voor Internet Explorer 11
  </li>
  <li>
    Er kan weer een bestand naar de pdf-splitter worden gesleept wanneer deze balk nog verborgen is
  </li>
  <li>
    Uploaden leidt niet meer tot dubbele bestanden
  </li>
</ul>

<h3>Kleine verbeteringen:</h3>
<ul>
  <li>
    Sectie wordt geopend wanneer je er een bestand of pagina heen sleep
  </li>
  <li>
    De tab Zoeken heet nu Alle dossiers
  </li>
</ul>
