<!-- Features -->
<h3>Technische verbeteringen</h3>
<p>Dit zorgt ervoor dat de applicatie veiliger is en klaar is voor de toekomst. Deze aanpassingen zijn puur technisch. Er zijn geen veranderingen in de werking of functionaliteit van de applicatie.</p>
<ul>
  <li>Een upgrade van het Symfony-framework (van versie 5.4 naar 7.4)</li>
  <li>Een upgrade van de PHP-versie (van 8.2 naar 8.4)</li>
</ul>

<!-- Enhancements -->
<h3>Aanpassingen</h4>

<ul>
  <li>Het bekijken van Word-documenten in de browser is niet langer mogelijk. Word-documenten kunnen nog steeds worden gedownload.</li>
</ul>


