# Components
components/

# IDE
.buildpath
.project
.settings/
.idea
.idea/*

# OS
.DS_Store
Thumbs.db
__MACOSX

# Composer
composer.phar

# Docker
docker-compose.override.yml
docker-compose-dev.override.yml

###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
/public/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###
/public/scss/.sass-cache
