version: '3.5'
services:
  schulddossier-phpfpm:
    build:
      context: .
      dockerfile: Dockerfile_phpfpm
    environment:
      - TZ=Europe/Amsterdam
    image: ${REGISTRY:-127.0.0.1:5001}/${REPOSITORY:-salmagundi/schulddossier-phpfpm}:${VERSION:-latest}
    
  schulddossier-nginx:
    build:
      context: .
      dockerfile: Dockerfile_nginx
    command: >
      sh -c "sed -i /'fastcgi_param HTTPS on'/d /tmp/default.template;\
             envsubst '$$FASTCGI_PASS' < /tmp/default.template > /etc/nginx/conf.d/default.conf;\
             exec nginx -g 'daemon off;'"
    environment:
      - FASTCGI_PASS=schulddossier-phpfpm:9000
      - TZ=Europe/Amsterdam
    image: ${REGISTRY:-127.0.0.1:5001}/${REPOSITORY:-salmagundi/schulddossier-nginx}:${VERSION:-latest}
    depends_on:
      - schulddossier-phpfpm

  schulddossier-proxy:
    build:
      context: .
      dockerfile: Dockerfile_proxynginx
    image: ${REGISTRY:-127.0.0.1:5001}/${REPOSITORY:-salmagundi/schulddossier-proxy}:${VERSION:-latest}