services:
  schulddossier-phpfpm:
    build:
      context: .
      dockerfile: Dockerfile_phpfpm_local
    environment:
      - TZ=Europe/Amsterdam
    image: ${REGISTRY:-127.0.0.1:5001}/${REPOSITORY:-salmagundi/schulddossier-phpfpm}:${VERSION:-latest}
    pull_policy: never # @TODO remove when done with testing with Proxy.
    restart: on-failure:5

  schulddossier-nginx:
    build:
      context: .
      dockerfile: Dockerfile_nginx
    command: >
      sh -c "sed -i /'fastcgi_param HTTPS on'/d /tmp/default.template;\
             envsubst '$$FASTCGI_PASS' < /tmp/default.template > /etc/nginx/conf.d/default.conf;\
             exec nginx -g 'daemon off;'"
    environment:
      - FASTCGI_PASS=schulddossier-phpfpm:9000
      - TZ=Europe/Amsterdam
    image: ${REGISTRY:-127.0.0.1:5001}/${REPOSITORY:-salmagundi/schulddossier-nginx}:${VERSION:-latest}
    pull_policy: never # @TODO remove when done with testing with Proxy.
    restart: on-failure:5
    depends_on:
      - schulddossier-phpfpm

  # @TODO remove when Proxy is no longer needed.
  schulddossier-proxy:
    build:
      context: .
      dockerfile: Dockerfile_proxy
    image: ${REGISTRY:-127.0.0.1:5001}/${REPOSITORY:-salmagundi/schulddossier-proxy}:${VERSION:-latest}
    pull_policy: never
    restart: on-failure:5
    depends_on:
      - schulddossier-phpfpm
