.dossier-status {
  .user-type-shv &__select,
  .user-type-shv_keyuser &__select,
  .user-type-gka &__select {
    display: none;
  }
  &__buttons,
  &__select {
    margin: 10px 0;
  }
  &__buttons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;

    input {
      display: block;
      width: 0;
      height: 0;
      margin: 0;
      padding: 0;
      visibility: hidden;
      position: absolute;
    }
    label {
      display: inline-block;
      border: 1px solid #000;
      color: #000;
      padding: 9px 25px;
      font-size: 16px;
      background-color: #fff;
      line-height: 20px;
      font-family: $ff-native;
      font-weight: 500;
      margin-right: 10px;


      &:last-child {
        border-color: $brandColor1;
        background-color: $brandColor1;
        color: #fff;
      }
      &:hover {
        background-color: #000;
        color: #fff;
        border-color: #000;
      }
    }
  }
}