$explanationColor: $colorBgDark;

.explanation {
    color: $explanationColor;
    font-size: $fs-x-small;
}

details.explanation {
    > div {
        border: 1px dotted $explanationColor;
        padding: 1.5em;
        color: inherit;
    }
}

p.explanation {
    @extend .explanation;
}