.form-search {
  float: right;
  width: 100%;
}

.index-search-field {
  float: right;
  >select {
    width: 150px;
  }

  >input   {
    width: 250px;
  }

  >button {
    padding-top: 11px;
    padding-bottom: 14px;
  }
}