.log-list {
  list-style: none;
  &__item {
    margin-bottom: 30px;
    dl {
      display: flex;
      flex-wrap: wrap;
      margin: 10px 0;
    }
    dt, dd {
      display: inline-block;
      margin: 0;
    }
    dt {
      width: 90px;
      margin-left: 10px;
    }
    dd {
      width: calc(100% - 100px);
    }
  }
}

.table {
  table {
    td.logboek-update-original-value{
      color: $borderColor2;
      overflow: hidden;         
      text-overflow: ellipsis; 
    }
    td.logboek-update-updated-value{
      color: $textColor;
      font-weight: bold;
      overflow: hidden;         
      text-overflow: ellipsis; 
      max-width: 80px;
    }
    td.logboek-update-field{   
      overflow: hidden;         
      text-overflow: ellipsis;   
      max-width: 180px;         
    }
  }
}

.logboek-no-updates {
  color: $borderColor2;
}