$messageBackgroundColor: #FFF;
$messageBorderColor: #CCC;

.flash-message {
  width: 500px;
  margin: 10px auto;
  display: flex;
  border: 1px solid $messageBorderColor;
  background-color: $messageBackgroundColor;
  &.flash-type-success {
    border-color: #72C82E;
    color: #155724;
    background-color: #d4edda;
  }
  &.flash-type-error {
    border-color: #c83514;
    color: #570004;
    background-color: #edd2c7;
  }
  .message {
    order: 0;
    flex-grow: 1;
    padding: 10px;
  }
  .btn {
    order: 2;
    flex-grow: 0;
    width: 25px;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: #72C82E;
  }
}

.announcement {
  background-color: $messageBackgroundColor;
  margin-bottom: 1.5rem;
  padding: 1.2rem;
  border: 1px solid $messageBorderColor;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  h4.title{
    font-size: $fs-default;
  }

  .message{
    color: $colorBgDark;
    font-size: $fs-x-small;
  }
}

  
