.table {
  line-height: 1.2;
  table {
    width: 100%;
    border-spacing: 0;
    text-align: left;
    margin-bottom: $lineHeight;

    overflow: hidden;
    th {
      text-align: left;
      
      i {
        color: $borderColor2;
        border-color: $borderColor2;
      }
    }

    th,
    td {
      vertical-align: top;
      padding: 1.2rem 2rem;
      transition: all .3s;
      border-bottom: 1px solid $borderColor;

    }
    tr:last-child td,
    tr:last-child th {
      border-bottom: 2px solid $borderColor2;
    }

    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }

    tbody > tr:nth-child(2n+1) {
      background-color: rgba($lightColor2, 1);
    }

    .row-link {
      overflow: hidden;
      th {
        position: relative;
      }
      &:hover {
        td, th {
          background-color: rgba($lightColor3, 1);
        }
      }
      th a {
        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          width: 100vw;
          background-color: rgba(#000, 0);
        }
        &:hover {
          text-decoration: none;
        }
      }

    }
    .row-link__dimmed {
      //pointer-events: none;
      th a {
        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          width: 100vw;
          background-color: rgba(#fff, 0.7);
        }
        &:hover:before {
          background-color: rgba(#fff, 1);
        }
        &:hover:after {
          content: 'Dit dossier is verwijderd';
          color: $brandColor1;
          font-size: $fs-large;
          position: absolute;
          top: 50%;
          bottom: auto;
          left: 2rem;
          width: 100vw;
          transform: translateY(-50%);
        }
      }
    }
  }
}

.empty-table {
  text-align: center;
  padding: $padding / 2;
}

.table-actions {
  .link {
    opacity: .4;
  }
  tr:hover {
    .link {
      opacity: 1;
    }
  }
}

