
html {
	--rood: #ff0000;
	--grijs: #f3f3f3;
	--donkergrijs: #666666;	
	background-color: var(--grijs);
}

body {
	max-width: 13cm;
	margin: 0 auto;
	font-family: "Gill Sans";
	background-color: white;
	background-image: url(/pix/logo.svg);
	background-size: 30px;
	background-repeat: no-repeat;
	background-position: 98% 1%;
	font-size: 18px;
}

a.knop {
	border: 1px solid rgb(216,216,216);
	border-radius: 15px;
	padding: 3px 10px;
	text-decoration: none;
	font-size: 120%;
	width: auto;
	display: inline-block;
	color: black;
}

a.knop:hover {
	cursor: pointer;
	background: rgba(255,0,0,0.4);
}


section {
	border-top: 2px solid;
}

section p {

}