
section.velden {
	column-count: 2;
	column-gap: 50px;
	padding: 0 10px;
}

section.velden label {
	display: flex;
	justify-content: space-between;
	min-height: 30px;
	margin: 10px 0;
}

section.velden input,section.velden select  {
	width: 50%;
	box-sizing: border-box;
}


section.accordeon h3 {
	position: relative;
}

section.accordeon h3 span {
	position: absolute;
	right: 60px;
	width: auto;
}

p.totaal {
	padding-left: 30px;
}

p.totaal span {
	float: right;
	margin-right: 60px;
}

section.nieuw {
	position: relative;
	width: 100px;
	height: 100px;
	border: 4px solid white;
}

section.nieuw * {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

section.nieuw input {
	z-index: 1;
	opacity: 0;
}

section.nieuw p {
	text-align: center;
	text-decoration: underline;
	margin: 0;
}