html, body, h1, h2, h3, h4, h5, h6, fieldset, figure, blockquote, dl, dt, dd {
  margin: 0;
  padding: 0;
  border: none; }

html {
  background-color: #f5f5f5;
  overflow-x: hidden; }

body {
  padding: 3rem; }
@media (max-width: 900px) {
  body {
    padding: 10px; } }

p, ol, ul, dl, figure {
  margin-top: 0;
  margin-bottom: 1.925rem; }

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
  border: none; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.text-left {
  text-align: left !important; }
.text-left * {
  text-align: left !important; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.nowrap {
  white-space: nowrap; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.well {
  position: relative;
  padding: 3rem;
  background-color: #f5f5f5;
  margin-bottom: 1.925rem;
  border-bottom: 1px solid #bdbdbd;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2); }
.well > *:last-child {
  margin-bottom: 0; }
@media (max-width: 900px) {
  .well {
    padding: 10px; } }

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  opacity: 0;
  font-size: 0; }

.hidden, .js .js-hidden {
  display: none !important; }

.js-show {
  display: none; }
.js .js-show {
  display: initial; }

@media (max-width: 700px) {
  .small-hide {
    display: none !important; } }

.medium-show {
  display: none; }
@media (max-width: 900px) {
  .medium-show {
    display: initial; } }

.columns {
  display: flex; }

.help {
  display: block;
  box-sizing: border-box;
  background-color: #fff;
  color: #333;
  font-size: 1.2rem;
  line-height: 1.2;
  padding: 0 0.75rem;
  border: 0px solid rgba(51, 51, 51, 0.4);
  overflow: hidden;
  max-height: 0;
  transition: all .3s; }
.help.active, .help:target {
  padding: 0.75rem;
  border-width: 1px;
  max-height: 1000px; }

[data-count]:after {
  content: attr(data-count);
  display: inline-block;
  position: relative;
  top: -.2em;
  font-size: .6em;
  margin-left: 1em;
  padding: .2em .5em;
  text-align: center;
  background-color: #fff;
  border-radius: 3px;
  color: #333; }

.footer {
  font-size: 1.2rem;
  margin-bottom: 1.925rem; }
.footer > *:last-child {
  margin-bottom: 0; }

.footer-well {
  padding: 0 3rem; }

html {
  font-size: 62.5%; }
@media (max-width: 900px) {
  html {
    font-size: 50%; } }

body, .font-normal, legend small, pre, input[type="checkbox"] + strong {
  font-size: 1.4rem;
  font-family: "AvenirNextLTW01-Regular", verdana, sans-serif; }

.bold, legend, .nav-internal a, b, strong, th {
  font-family: "Avenir Next LT W01 Demi", verdana, sans-serif; }

[type="text"], [type="search"], [type="email"], [type="password"], [type="url"], [type="number"], [type="date"], [type="time"], [type="tel"], [type="datalist"], select, option, textarea {
  font-size: 1.4rem;
  font-family: "AvenirNextLTW01-Regular", verdana, sans-serif; }

body {
  line-height: 1.375;
  color: #333; }

a:hover {
  color: black; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1, .huge {
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 1em; }

h2, .big {
  font-size: 2.4rem;
  line-height: 1;
  margin-bottom: 0.2em; }

h3, .large {
  font-size: 2rem;
  line-height: 1.2; }

a {
  color: #333; }

h1, h2, h3 {
  font-family: "Avenir Next LT W01 Demi", verdana, sans-serif;
  font-weight: 400; }

h4, .normal {
  font-size: 1.4rem;
  line-height: 1.375; }

h5, .small {
  font-size: 1.2rem;
  line-height: 1.375; }

h6, .tiny {
  font-size: 1.2rem;
  line-height: 1.375; }

.icon-andreas {
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 68px;
  background-image: url("../images/ico_andreas.svg");
  background-size: auto 100%;
  background-repeat: no-repeat; }

.icon-arrow, .icon-arrow-left, .icon-arrow-right, .icon-arrow-bottom, .icon-arrow-up {
  position: relative;
  top: .4em;
  display: inline-block;
  vertical-align: top;
  content: '';
  width: .4em;
  height: .4em;
  transform: rotate(45deg);
  border-top: 0.15em solid #333;
  border-right: 0.15em solid #333; }

.icon-arrow-left {
  transform: rotate(-135deg); }

.icon-arrow-right {
  transform: rotate(45deg); }

.icon-arrow-bottom {
  transform: rotate(135deg); }

.icon-arrow-up {
  transform: rotate(-45deg); }

hr {
  border: none;
  height: 2px;
  background-color: #f5f5f5;
  padding: 0;
  margin: 3.85rem 0; }

.container {
  max-width: 900px;
  margin: 0 auto; }

.document-container {
  max-width: 900px;
  margin: 3.85rem auto; }

.document {
  background-color: #fff; }
.document .document-team {
  border-bottom: 1px solid #CCCCCC;
  padding: 0 0 1rem 0;
  margin: 0 0 1.925rem 0; }
.document .column {
  width: 50%;
  margin-right: 3rem;
  margin-bottom: 1.925rem; }
.document .column:last-child {
  margin-right: 0; }
.document .document-header {
  margin: -3rem -3rem 3rem -3rem; }
@media (max-width: 900px) {
  .document .document-header {
    margin: -10px -10px 10px -10px; } }
.document .document-footer {
  margin: 3rem -3rem -3rem -3rem; }
@media (max-width: 900px) {
  .document .document-footer {
    margin: 10px -10px -10px -10px; } }
.document .document-meta {
  margin: 0 0 0 3rem;
  font-size: 1.2rem;
  list-style: none;
  text-align: right; }
.document .buttons {
  margin-bottom: 0; }

.document-header, .document-footer {
  background-color: #fbfbfb;
  margin-bottom: 1.925rem;
  padding: 3rem; }
@media (max-width: 900px) {
  .document-header, .document-footer {
    padding: 10px; } }
.document-header p, .document-footer p {
  margin: 0; }

.document-footer {
  border-top: 1px solid #dfdfdf; }

.document-header {
  border-bottom: 1px solid #dfdfdf; }
.document-header.group {
  display: flex;
  align-items: center;
  justify-content: space-between; }
.document-header .document-title {
  margin-bottom: .2em; }
.document-header a {
  text-decoration: none; }
.document-header a:hover {
  text-decoration: underline; }

.button, button {
  display: inline-block;
  box-sizing: border-box;
  margin: 0 0 10px 0;
  padding: 1.2em 2em 1em;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1;
  font-size: 1.6rem;
  font-weight: 500;
  background-color: #ec0000;
  color: #fff;
  border: 1px solid #ec0000;
  cursor: pointer; }
.button.full, button.full {
  text-align: center;
  width: 100%; }
.button.secondary, button.secondary {
  background-color: #000;
  border-color: #000; }
.button:hover, button:hover {
  color: #fff; }

input[type="text"], input[type="search"], input[type="date"], input[type="password"], input[type="tel"], input[type="email"], input[type="url"], input[type="number"], select, textarea {
  width: 100%;
  line-height: 1;
  padding: 0 1em;
  min-height: 3em;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: border-color .3s; }
input[type="text"]:hover, input[type="search"]:hover, input[type="date"]:hover, input[type="password"]:hover, input[type="tel"]:hover, input[type="email"]:hover, input[type="url"]:hover, input[type="number"]:hover, select:hover, textarea:hover {
  border: 1px solid rgba(0, 0, 0, 0.4); }
input[type="text"]:focus, input[type="search"]:focus, input[type="date"]:focus, input[type="password"]:focus, input[type="tel"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="number"]:focus, select:focus, textarea:focus {
  border: 1px solid rgba(0, 0, 0, 0.8); }

input[readonly], input[disabled] {
  opacity: .8;
  background-color: rgba(51, 51, 51, 0.05);
  cursor: not-allowed; }
input[readonly]:hover, input[readonly]:focus, input[disabled]:hover, input[disabled]:focus {
  border: 1px solid rgba(0, 0, 0, 0.1); }

label {
  position: relative;
  cursor: pointer; }

label input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0; }
label input[type="checkbox"] + strong {
  position: relative;
  padding-left: 2em;
  margin: 0;
  line-height: 1.1;
  font-weight: normal; }
label input[type="checkbox"] + strong:before, label input[type="checkbox"] + strong:after {
  content: '';
  position: absolute;
  left: 0;
  top: -.1em; }
label input[type="checkbox"] + strong:before {
  width: 1.2em;
  height: 1.2em;
  border: 1px solid #333;
  border-radius: 3px;
  background-color: #fff; }
label input[type="checkbox"] + strong:after {
  left: .25em;
  top: .1em;
  width: .8em;
  height: .4em;
  border-left: 0.2em solid #333;
  border-bottom: 0.2em solid #333;
  transform: rotate(-45deg);
  opacity: 0;
  transition: all .1s; }
label input[type="checkbox"]:checked + strong:after {
  opacity: 1; }

option {
  min-height: 2.75em; }

textarea {
  padding: 1em; }

legend {
  padding: 0;
  margin: 0;
  width: 100%;
  display: block;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 1em; }
legend small {
  font-size: 1.2rem;
  vertical-align: baseline;
  display: block;
  margin-top: .4em;
  line-height: 1.2; }

fieldset {
  border-bottom: 1px solid #f5f5f5;
  padding-bottom: 1.925rem;
  margin-bottom: 1.925rem; }
.well fieldset {
  border-bottom: 1px solid rgba(51, 51, 51, 0.2); }
fieldset.naked {
  padding-bottom: 0;
  border: none; }

form .form-row {
  margin-bottom: 1.925rem; }
form .group {
  display: flex; }
form .group label, form .group .label {
  margin-right: 1em; }
form .group label:last-child, form .group .label:last-child {
  margin-right: 0; }
form label, form .label {
  position: relative;
  display: block; }
form label strong, form .label strong {
  display: block;
  margin-bottom: 5px; }

.form-list {
  list-style: none;
  padding: 0;
  counter-reset: item; }
.form-list li:not(.item-deleted) > label:first-child > strong:after {
  counter-increment: item;
  content: " " counter(item); }

.form-list button, .form-list + button {
  padding: 0;
  margin: 0;
  color: #ec0000;
  border: none;
  font-size: 1.4rem;
  background-color: transparent;
  cursor: pointer; }
.form-list button:hover, .form-list + button:hover {
  color: #000; }

.form-list li {
  position: relative;
  margin-bottom: 10px;
  overflow: hidden;
  transition: max-height .3s;
  max-height: 1000px; }
.form-list li button {
  position: absolute;
  right: 0;
  top: 0; }
.form-list li.item-deleted {
  max-height: 0; }
.form-list li [name*="-DELETE"] {
  display: none; }

.buttons, .nav {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1.925rem; }
.buttons > *, .nav > * {
  margin-right: 2em;
  margin-bottom: 0; }
.buttons.right, .buttons.nav, .nav.right, .nav.nav {
  flex-direction: row-reverse; }
.buttons.right > *, .buttons.nav > *, .nav.right > *, .nav.nav > * {
  margin-right: 0;
  margin-left: 2em; }
.buttons.right > a:not(.button), .buttons.nav > a:not(.button), .nav.right > a:not(.button), .nav.nav > a:not(.button) {
  padding: 1.2em 0 1em; }
.buttons .left, .nav .left {
  margin-right: auto;
  margin-left: 0; }
@media (max-width: 700px) {
  .buttons .left, .nav .left {
    margin-right: 0;
    margin-left: 2em; } }
.buttons.sticky, .nav.sticky {
  z-index: 101;
  left: 0;
  right: 0;
  bottom: -100px;
  margin: 0;
  transition: bottom 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); }
.changed .buttons.sticky, .changed .nav.sticky {
  position: fixed;
  bottom: 0;
  background-color: rgba(51, 51, 51, 0.3);
  padding: 1.5rem; }

.row-delete strong {
  display: inline; }
.row-delete .delete-confirm {
  display: none; }
.row-delete :checked ~ .delete-confirm {
  display: inline-block; }

.form-aside {
  float: right;
  width: 240px;
  box-sizing: border-box;
  margin: 0 0 1.925rem 3rem;
  background-color: #f5f5f5;
  font-size: 1.2rem; }
.form-aside p, .form-aside ul {
  margin-bottom: 1.5rem; }
.form-aside ul {
  list-style-type: '- ';
  margin-left: 1em;
  padding: 0; }
.form-aside p + ul {
  margin-top: -1.5rem; }
.form-aside .buttons {
  margin-bottom: 0; }
.well .form-aside {
  background-color: #fff;
  padding: 1.5rem; }
.form-aside:empty {
  opacity: 0; }
.form-aside + .inputs {
  margin-right: calc(240px + 3rem); }
@media (max-width: 900px) {
  .form-aside {
    float: none;
    width: auto;
    margin: 0 0 1.925rem 0; }
  .form-aside + .inputs {
    margin-right: 0; }
  .form-aside.well {
    padding: 10px; } }

.label-widget {
  display: flex;
  align-items: center;
  align-items: flex-start; }
.label-widget > label {
  width: 13em;
  flex-grow: 0;
  flex-shrink: 0;
  padding-top: 1em;
  line-height: 1; }
.label-widget > input[type="checkbox"] {
  border: 3px solid #F00;
  margin-top: 1px;
  width: 20px;
  height: 20px; }
.label-widget > input[type="date"], .label-widget > input[type="text"], .label-widget > input[type="password"], .label-widget > input[type="email"] {
  width: auto;
  flex-grow: 1; }
.label-widget > textarea, .label-widget > select {
  width: auto;
  flex-grow: 1; }
.label-widget > .choices {
  width: auto;
  flex-grow: 1;
  padding-right: 20px;
  box-sizing: border-box; }
.label-widget > .choices .choices__inner {
  min-height: 25px;
  padding-top: 2px;
  padding-bottom: 2px; }

.errors {
  list-style-type: none;
  color: #FF0000;
  padding-left: 180px; }
.errors li {
  padding: 5px 0; }

.files-container {
  min-height: 100px; }
.files-container .file-container {
  border: 1px solid #CCC;
  background-color: #FFFFFF;
  min-width: 230px;
  display: inline-block;
  height: 180px;
  padding: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  vertical-align: middle;
  position: relative; }
.files-container .file-container.prototype {
  display: none; }
.files-container .file-container input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 5px;
  border: 0 none;
  border-bottom: 1px dotted #999;
  border-radius: 0; }
.files-container .file-container .file-selector {
  position: relative;
  overflow: hidden;
  cursor: pointer; }
.files-container .file-container .file-selector button {
  background-color: #FFFFFF;
  color: #ccc;
  border: 1px solid #ccc;
  padding: 1.5rem; }
.files-container .file-container .file-selector input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0; }
.files-container .file-container.files-only .file-selector button {
  background-color: #F3F3F3; }
.files-container .file-container .drop-area {
  border: 2px dashed #FFF;
  height: 30px;
  position: relative; }
.files-container .file-container .drop-area:before {
  width: 100%;
  position: absolute;
  content: "Sleep pagina's hierheen";
  text-align: center;
  color: #FFF;
  bottom: 0;
  display: none; }
.files-container .file-container .drop-area .page {
  display: inline-block;
  border: 1px solid #CCC;
  margin: 0 5px; }
.files-container .file-container .drop-area .page canvas {
  width: 100px; }
.files-container .file-container .errors {
  padding-left: 0; }

.pdf-splitter-page-drag .files-container .file-container .drop-area {
  border-color: #CCC;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: #FFF; }
.pdf-splitter-page-drag .files-container .file-container.files-only {
  cursor: no-drop; }
.pdf-splitter-page-drag .files-container .file-container .drop-area:before {
  color: #CCC;
  display: block; }

.files-container .add {
  /*background-color: #F00; */
  display: inline-block;
  height: auto;
  /*padding: 5px; border-radius: 2px; text-decoration: none; color: #FFF; font-size: 0.9rem; */
  width: 100px; }

.in-progress, .in-progress .button[type="submit"] {
  position: relative; }
.in-progress .button[type="submit"]:after, .in-progress:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.5);
  animation: progress 2s infinite; }

.form-global-buttons {
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1.5rem 3rem;
  transition: all .3s;
  bottom: -100px;
  opacity: 0; }
.form-changed .form-global-buttons {
  bottom: 0;
  opacity: 1; }
.form-global-buttons .buttons {
  margin: 0; }
.document .form-global-buttons .buttons {
  margin: 0 3rem; }

@keyframes progress {
  33% {
    left: 20%;
    right: 0; }
  66% {
    left: 0;
    right: 20%; } }
.nav-internal {
  margin-bottom: 1.925rem; }
.nav-internal ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  display: flex;
  white-space: nowrap; }
.nav-internal li {
  display: inline-block;
  margin-left: 1rem; }
.nav-internal li:first-child {
  margin-left: 0;
  flex-basis: 100%; }
.nav-internal a {
  font-size: 1.4rem;
  display: inline-block;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.6);
  padding: .5em 1em;
  transition: all .3s; }
.nav-internal a:hover {
  background-color: white; }
.nav-internal a i {
  margin-right: .5em; }

header.top {
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 3rem;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  border-bottom: 1px solid #333;
  z-index: 99; }
header.top .logo {
  width: 65px;
  margin-right: 15px;
  flex-grow: 0;
  height: 35px; }
header.top .logo img {
  width: 100%; }
@media (max-width: 900px) {
  header.top {
    padding: 10px; } }

.logo {
  position: relative;
  display: inline-block;
  font-size: 1.3rem;
  width: 6em;
  line-height: 1;
  color: #ec0000;
  text-decoration: none;
  padding-left: 3rem;
  min-height: 7rem; }
.logo i {
  position: absolute;
  left: 0;
  top: 0;
  padding-right: 1rem; }
.logo .icon-andreas {
  width: 2rem;
  height: 6.8rem; }
.logo strong {
  position: absolute;
  top: 0;
  left: 14rem;
  font-size: 2.8rem;
  line-height: 1;
  white-space: nowrap;
  color: #000;
  font-weight: normal; }
.logo:hover {
  color: #ec0000; }
@media (max-width: 900px) {
  .logo {
    font-size: 14px;
    padding-left: 22px;
    min-height: 41px; }
  .logo strong {
    font-size: 18px;
    left: 120px;
    top: -1px; }
  .logo .icon-andreas {
    height: 41px; } }

body {
  padding-top: calc(60px + 3.85rem); }
@media (max-width: 900px) {
  body {
    padding-top: calc(30px + 3.85rem); } }

.flash-message {
  width: 500px;
  margin: 10px auto;
  display: flex;
  border: 1px solid #CCC;
  background-color: #FFF; }
.flash-message.flash-type-success {
  border-color: #72C82E;
  color: #155724;
  background-color: #d4edda; }
.flash-message .message {
  order: 0;
  flex-grow: 1;
  padding: 10px; }
.flash-message .btn {
  order: 2;
  flex-grow: 0;
  width: 25px;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  color: #72C82E; }

.search-basic .form-row {
  margin: 0;
  width: 100%; }
.search-basic input {
  width: 100%;
  min-height: 4rem; }
.search-basic label {
  display: none; }
.search-basic .button {
  margin: 0;
  padding: 0 3rem; }

.search-more {
  text-align: right; }
.search-more a {
  display: inline-block;
  text-decoration: none;
  padding: 1em;
  margin: 0 -1em; }

.search-extended {
  display: none; }
.search-extended:target, .search-extended.active {
  display: block; }
.search-extended #search_dossier_form_status label {
  line-height: 1;
  display: inline-block;
  border: 1px solid rgba(51, 51, 51, 0.5);
  padding: 0.75rem;
  margin: 0 0.75rem 0.75rem 0;
  border-radius: 3px;
  color: rgba(51, 51, 51, 0.5);
  padding-left: 3rem; }
.search-extended #search_dossier_form_status label:before {
  content: '';
  position: absolute;
  left: 0.75rem;
  top: 0.75rem;
  margin-top: -1px;
  width: 1em;
  height: 1em;
  border: 1px solid rgba(51, 51, 51, 0.5);
  border-radius: 3px; }
.search-extended #search_dossier_form_status label:after {
  content: '';
  position: absolute;
  left: 1rem;
  top: 0.75rem;
  width: .8em;
  height: .5em;
  border-left: 3px solid #333;
  border-bottom: 3px solid #333;
  transform: rotate(-45deg);
  opacity: 0; }
.search-extended #search_dossier_form_status input {
  position: absolute;
  opacity: 0; }
.search-extended #search_dossier_form_status input:checked + label {
  color: #333;
  border-color: #333; }
.search-extended #search_dossier_form_status input:checked + label:before {
  border-color: #333; }
.search-extended #search_dossier_form_status input:checked + label:after {
  opacity: 1; }

.modal-container {
  height: 0;
  width: 0;
  overflow: hidden;
  background-color: transparent;
  transition: background-color 1s; }
.modal-container > * {
  display: none; }
.modal-container:target, .modal-container.open {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%; }
.modal-container:target > *, .modal-container.open > * {
  display: block; }
.modal-container > a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }
.modal-container .modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -300px;
  margin-top: -150px;
  width: 600px;
  height: 300px;
  background-color: #FFF;
  border: 1px solid #999;
  border-radius: 2px; }
.modal-container .modal-window .modal-header {
  border-bottom: 1px solid #CCC;
  padding: 10px 20px; }
.modal-container .modal-window .modal-header h2 {
  font-weight: normal; }
.modal-container .modal-window .modal-body {
  padding: 10px 20px; }

.drop-over {
  outline: 5px solid rgba(0, 0, 0, 0.4); }

.pagination {
  width: 100%;
  display: flex;
  padding: 20px;
  box-sizing: border-box; }
.pagination > * {
  width: 33%;
  flex-grow: 1; }
.pagination > a {
  color: #000000; }
.pagination > .prev {
  text-align: left; }
.pagination > span {
  text-align: center; }
.pagination > .next {
  text-align: right; }

.pdf-splitter {
  background-color: gainsboro;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 20vw;
  border-right: 1px solid #CCC;
  box-shadow: inset -5px 0px 10px 0px rgba(204, 204, 204, 0.37);
  overflow-x: hidden;
  overflow-y: auto; }
.pdf-splitter .file-selector {
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center; }
.pdf-splitter .file-selector:before {
  position: absolute;
  content: 'Kies een ander bestand';
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #fff;
  padding: 1em;
  background-color: #000;
  left: 1.5rem;
  right: 1.5rem;
  top: 1.5rem; }
.pdf-splitter .file-selector input[type="file"] {
  position: absolute;
  opacity: 0; }
.pdf-splitter .pages {
  position: relative;
  padding: 1.5rem;
  margin-top: 4.8rem;
  z-index: 4; }
.pdf-splitter .pages:empty {
  display: flex;
  align-items: center; }
.pdf-splitter .pages:empty ~ .file-selector:before {
  content: 'Kies een bestand'; }
.pdf-splitter .pages:empty:after {
  content: "Voeg pagina's toe door een document te uploaden.";
  margin-top: 1.5rem;
  line-height: 1.2;
  color: #333;
  padding: 1.5rem;
  background-color: rgba(51, 51, 51, 0.1);
  display: block; }
.pdf-splitter .pages .page {
  background-color: #FFFFFF;
  margin: 1.5rem 0;
  border: 1px solid #CCC;
  cursor: move; }
.pdf-splitter .pages .page canvas {
  width: 100%;
  height: auto; }
.pdf-splitter .pages .page.dragged {
  opacity: 0.4; }
.pdf-splitter .pages .page:hover {
  border-color: #333; }
.hide-pdf-splitter .pdf-splitter {
  display: none; }

body {
  padding-left: calc(20vw + 3rem); }
body header.top {
  left: 20vw; }
body .form-global-buttons {
  padding-left: calc(20vw + 3rem); }

.hide-pdf-splitter {
  padding-left: 3rem; }
.hide-pdf-splitter header.top {
  left: 0; }
.hide-pdf-splitter .form-global-buttons {
  padding-left: 3rem; }
@media (max-width: 900px) {
  .hide-pdf-splitter {
    padding-left: 10px; } }

.quick-viewer .modal-window {
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
  margin: 0; }
.quick-viewer .modal-window .modal-body {
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 0;
  right: 0; }
.quick-viewer .modal-window .modal-body img {
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  margin-left: -100px;
  margin-top: -100px; }
.quick-viewer .modal-window .modal-body img.visible {
  display: block; }
.quick-viewer .modal-window .modal-body canvas {
  width: 100%; }
.quick-viewer .modal-window .modal-body .viewer-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: scroll; }
.quick-viewer .modal-window .modal-body .page-counter {
  position: absolute;
  bottom: 50px;
  left: 50%;
  margin-left: -80px;
  width: 160px;
  text-align: center;
  background-color: #333;
  color: #999;
  padding: 10px 15px;
  border-radius: 5px; }
.quick-viewer .modal-window .modal-body .button {
  position: absolute;
  width: 20px;
  height: 20px;
  text-align: center;
  background-color: #333;
  color: #999;
  padding: 10px 15px;
  border-radius: 5px;
  top: 50%;
  margin-top: -10px; }
.quick-viewer .modal-window .modal-body .button:before {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -8px;
  margin-top: -8px; }
.quick-viewer .modal-window .modal-body .button.prev {
  left: 30px; }
.quick-viewer .modal-window .modal-body .button.prev:before {
  content: url("/pix/chevron-left.svg"); }
.quick-viewer .modal-window .modal-body .button.next {
  right: 30px; }
.quick-viewer .modal-window .modal-body .button.next:before {
  content: url("/pix/chevron-right.svg"); }

.schulditem-header {
  display: flex;
  width: 100%;
  height: 20px; }
.schulditem-header .naam {
  flex-grow: 1;
  height: 20px;
  line-height: 20px; }
.schulditem-header .naam .referentie {
  color: #666666; }
.schulditem-header .voortgang {
  width: 150px;
  flex-grow: 0;
  height: 20px;
  line-height: 20px; }
.schulditem-header .bedrag {
  width: 150px;
  flex-grow: 0;
  height: 20px;
  line-height: 20px;
  text-align: right; }

.table {
  line-height: 1.2; }
.table table {
  width: 100%;
  border-spacing: 0;
  text-align: left;
  overflow: hidden; }
.table table th, .table table td {
  vertical-align: top;
  padding: .5rem;
  border-bottom: 1px solid #f5f5f5; }
.table table th:first-child, .table table td:first-child {
  padding-left: 0; }
.table table th:last-child, .table table td:last-child {
  padding-right: 0; }
.table table tbody > tr:nth-child(2n+1) {
  background-color: rgba(245, 245, 245, 0.2); }
.table table tbody th {
  position: relative; }
.table table tbody th a {
  text-decoration: none;
  display: block; }
.table table tbody th a:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100vw;
  background-color: transparent;
  border-bottom: 1px solid transparent;
  transition: all .3s; }
.table table tbody th a:hover:before {
  border-color: #333; }
.table .empty-table {
  text-align: center;
  padding: 1.5rem; }

.tabs {
  margin: 0 0 1.925rem 0;
  overflow: hidden; }
.tabs ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0 -1.5rem;
  border-bottom: 3px solid #f5f5f5; }
.tabs li a {
  text-align: center;
  display: block;
  font-weight: 700;
  font-size: 1.6rem;
  text-decoration: none;
  padding: 1.5rem;
  border-bottom: 3px solid #f5f5f5;
  margin-bottom: -3px;
  transition: all .3s; }
.tabs li a:hover {
  border-color: #333; }
.tabs li.active a {
  border-bottom-color: #ec0000; }

.accordion-container > h2 {
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 10px; }
.accordion-container .accordion {
  margin-bottom: 1.5rem;
  background-color: #f5f5f5;
  padding: 8px 15px;
  border-radius: 2px;
  transition: background-color .3s; }
.accordion-container .accordion .accordion-header {
  position: relative;
  padding-right: 36px; }
.accordion-container .accordion .accordion-header:before, .accordion-container .accordion .accordion-header:after {
  content: '';
  position: absolute;
  right: 0;
  top: 8px;
  width: 14px;
  height: 4px;
  background-color: #333;
  transform: rotate(-45deg);
  transition: all .3s; }
.accordion-container .accordion .accordion-header:after {
  right: 8px;
  transform: rotate(45deg); }
.accordion-container .accordion .accordion-header a:before {
  content: '';
  position: absolute;
  z-index: 1;
  left: -15px;
  top: -8px;
  right: -15px;
  bottom: -8px;
  background-color: transparent; }
.accordion-container .accordion.active .accordion-header:before {
  transform: rotate(45deg); }
.accordion-container .accordion.active .accordion-header:after {
  transform: rotate(-45deg); }
.accordion-container .accordion.active {
  background-color: #f0f0f0; }
.accordion-container .accordion .accordion-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height .3s; }
.accordion-container .accordion.active .accordion-body {
  max-height: 2000px; }

.voorlegger-header {
  display: flex;
  height: 20px; }
.voorlegger-header .naam {
  font-size: 1.4rem;
  height: 20px;
  line-height: 20px;
  margin-right: auto; }
.voorlegger-header a {
  text-decoration: none; }
.voorlegger-header .nvt {
  height: 20px;
  line-height: 20px;
  width: 50px;
  text-align: center; }

.voorlegger-body {
  padding: 17px 0 7px 0; }
.voorlegger-body .button {
  font-size: 1.2rem;
  padding: 0.75rem 1.5rem; }

.accordion-body .label-widget, .form-checks .label-widget {
  align-items: center;
  padding: 1rem 0; }
.accordion-body .label-widget > label, .form-checks .label-widget > label {
  padding: 0 2rem 0 0;
  flex-basis: 40%; }
.accordion-body .label-widget .status, .form-checks .label-widget .status {
  margin: 0; }
.accordion-body .form-row, .form-checks .form-row {
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5; }
.accordion-body .form-row + .form-row, .form-checks .form-row + .form-row {
  margin-top: calc(-1.925rem - 1px); }

.status {
  position: relative;
  z-index: 1;
  margin-bottom: 1.925rem;
  height: 2.4rem; }
.status ul {
  list-style: none;
  padding: .5rem 1rem .5rem .5rem;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0);
  margin-top: -.5rem;
  overflow: hidden; }
.status input {
  position: absolute;
  opacity: 0; }
.status strong {
  position: relative;
  display: block;
  padding-left: 3.4rem;
  max-height: 0;
  overflow: hidden;
  margin: 0;
  transition: max-height 0;
  font-size: 1.2rem;
  line-height: 2.4rem;
  color: #666666; }
.status strong:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 2.4rem;
  height: 2.4rem;
  box-sizing: border-box;
  border: 4px solid #f5f5f5;
  transform: rotate(45deg);
  border-radius: 50%;
  background-color: #fff; }
.accordion .status strong:before {
  border-color: #c2c2c2; }
.status strong:after {
  content: '';
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  left: 0.7rem;
  top: 0.7rem;
  background-color: #333;
  opacity: 0;
  transition: opacity .3s; }
.status [disabled] + strong {
  opacity: .5;
  cursor: not-allowed; }
.status .status-bezig strong:before {
  border-top-color: red;
  border-right-color: red; }
.status .status-opgevoerd strong:before {
  border-color: green; }
.status .status-gecontroleerd strong:after {
  content: '';
  position: absolute;
  left: 0.6rem;
  top: 0.48rem;
  width: 1.2rem;
  height: 0.6rem;
  border: 4px solid #fff;
  border-right: none;
  border-top: none;
  transform: rotate(-45deg);
  opacity: 1 !important;
  border-radius: 0;
  background-color: transparent; }
.status .status-gecontroleerd strong:before {
  border-color: green;
  background-color: green; }
.status:hover {
  z-index: 2; }
.status:hover ul {
  background-color: white;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2); }
.status:hover strong {
  max-height: 2.4rem;
  margin-bottom: .5rem; }
.status:hover label:hover strong {
  color: #333; }
.status:hover label:hover strong:after {
  opacity: .2; }
.status:hover :checked + strong:after, .status:hover label :checked + strong:after {
  opacity: 1; }
.status :checked + strong {
  color: #333;
  max-height: 2.4rem; }
.status [disabled] + strong {
  max-height: 0;
  margin-bottom: 0; }
.status [disabled]:checked + strong {
  max-height: 2.4rem; }
.status label [disabled]:checked + strong:after {
  opacity: 0; }

.status-container {
  display: flex; }
.status-container .form-row {
  margin: -2px 0 0 0; }
.status-container .label-widget {
  position: relative;
  width: 3.4rem; }
.status-container .label-widget > label {
  display: none; }
.status-container strong {
  max-width: 0; }
.status-container .status {
  position: absolute;
  left: 0;
  top: 0; }
.status-container .status:hover strong {
  max-width: 100px; }

.document-workflow {
  margin-bottom: 1.925rem; }
.document-workflow ul {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-end; }
.well .document-workflow {
  margin-bottom: 0; }
.document-workflow .button {
  margin: 0 0 0 1.5rem;
  white-space: nowrap; }

.document-workflow-current {
  margin-right: auto;
  align-self: center; }

/* horsey */
.sey-container {
  display: none;
  position: absolute;
  box-shadow: 1px 2px 6px;
  background-color: #fff;
  color: #333;
  transition: left 0.1s ease-in-out;
  z-index: 1; }

.sey-list {
  padding: 0;
  margin: 0;
  list-style-type: none; }

.sey-show {
  display: block; }

.sey-hide {
  display: none; }

.sey-empty {
  cursor: default;
  padding: 7px; }

.sey-item {
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 7px; }
.sey-item:hover {
  background-color: #444;
  color: #fff; }

.sey-selected {
  background-color: #333;
  color: #fff; }

.sey-char-highlight {
  font-weight: bold; }

.sey-category-id {
  background-color: #eee;
  color: #aaa;
  text-align: right;
  text-transform: capitalize;
  font-style: italic;
  font-size: 12px;
  box-shadow: 1px 0px 1px;
  padding: 7px; }

/* rome */
.rd-container {
  display: none;
  border: 1px solid #333;
  background-color: #fff;
  padding: 10px;
  text-align: center; }

.rd-container-attachment {
  position: absolute; }

.rd-month {
  display: inline-block;
  margin-right: 25px; }
.rd-month:last-child {
  margin-right: 0; }

.rd-back, .rd-next {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  padding: 0;
  margin: 0; }

.rd-back[disabled], .rd-next[disabled] {
  cursor: default; }

.rd-back {
  float: left; }

.rd-next {
  float: right; }

.rd-back:before {
  display: block;
  content: '\2190'; }

.rd-next:before {
  display: block;
  content: '\2192'; }

.rd-day-body {
  cursor: pointer;
  text-align: center; }

.rd-day-selected, .rd-time-selected, .rd-time-option:hover {
  cursor: pointer;
  background-color: #333;
  color: #fff; }

.rd-day-prev-month, .rd-day-next-month {
  color: #999; }

.rd-day-disabled {
  cursor: default;
  color: #fcc; }

.rd-time {
  position: relative;
  display: inline-block;
  margin-top: 5px;
  min-width: 80px; }

.rd-time-list {
  display: none;
  position: absolute;
  overflow-y: scroll;
  max-height: 160px;
  left: 0;
  right: 0;
  background-color: #fff;
  color: #333; }

.rd-time-selected, .rd-time-option {
  padding: 5px; }

.rd-day-concealed {
  visibility: hidden; }

/*# sourceMappingURL=screen.css.map */
