
html {
	background-color: #f3f3f3;
	margin: 0;
	padding: 0;
}

body {
	font-family: avenir,lato,sans-serif;
	margin: 0;
	padding: 0;
}

/* PAGINA-HEADER */

header {
	background: white;
	width: 100%;
	box-sizing: border-box;
	height: 50px;
	margin: 0;
	padding: 0 10px;
	display: flex;
	justify-content: space-between;
}

header > * {

}

header img {
	width: 65px;
}

header h2 {
	flex-grow: 1;
	margin-left: 30px;
	line-height: 50px;
	font-size: 16px;
	font-weight: bold;
}

header div {
	margin: 0;
	line-height: 50px;
	font-weight: lighter;
}

header div a {
	color: black;
	font-size: 12px;
}

div.kleineNav {
	max-width: 1024px;
	margin: 0 auto;
	margin-top: 50px;
	font-size: 12px;
}

div.kleineNav a {
	color: black;
	margin-right: 10px;
}

div.kleineNav form {
	display: inline-block;
	margin-right: 10px;
}

div.kleineNav button {
	background-color: transparent;
	border: 0px none;
	font-family: inherit;
	font-size: inherit;
	text-decoration: underline;
	cursor: pointer;
}


main {
	background-color: white;
	max-width: 1024px;
	margin: 50px auto;
	margin-top: 0;
	/* padding: 75px; */
	padding-top: 0;
	padding-bottom: 50px;
	box-sizing: border-box;
	box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.2);
	/*! font-size: 16px; */
	overflow: auto;

}

h1 {
	margin-top: 30px;
	margin-bottom: 20px;
}


oude_header {
	margin-bottom: 50px;
	margin-left: -75px;
	margin-right: -75px;
	padding: 50px 75px;
	padding-bottom: 50px;
	border-bottom: 1px solid #cccccc;
}

header p {
	margin: 5px 0;
}

/* TABELLEN */

table {
	margin-top: 25px;
}

th {
	text-align: left;
	padding: 10px 0;
}

td {
	min-width: 25%;
	padding: 5px 10px;
	padding-left: 0;
}

td input,td select {
	width: 200px;
}

td div select {
	width: 61px;
	margin-right: 10px;
}

table:not(.main) tbody tr:hover {
	background-color: #f3f3f3;
}


/* KNOPPEN EN ALS ZODANIG VERMOMDE LINKS */


div.knoppenbalk {
	margin: 40px 0px 20px;
	display: flex;
	justify-content: space-between;
}

div.knoppenbalk div.hoofdknoppen {

}

.primair,.secundair,.tertiair {
	font-size: 16px;
	-webkit-appearance: none;
	border: none;
	font-family: inherit;
	background: transparent;
	font-weight: normal;
	cursor: pointer;
	color: inherit;
	text-decoration: none;
	padding: 5px 8px;
}

input.primair,a.primair,button.primair {
	background-color: #ec0000;
	color: white;
}

div.knoppenbalk input.primair,div.knoppenbalk a.primair,div.knoppenbalk button.primair {
		margin-left: 20px;
}

input.secundair,a.secundair,button.secundair {
	border: 1px solid #979797;
}

input.tertiair:hover,a.tertiair:hover,button.tertiair:hover {
  text-decoration: underline;
}

input[type="text"],input[type=date] {
/* 	height: 24px; */
	padding: 5px;
	font-size: 12px;
	font-family: verdana;
}

/* ALGEMENE PAGINA-ELEMENTEN */

h2,h3 {
	margin: 0;
	font-weight: normal;
}

h3 {
	font-size: 100%;
}

/* MAAK NIEUW DOSSIER AAN */

body.create p {
	padding: 3px 0;
}

body.create label {
	display: block;
	width: 400px;
}

body.create input,body.create select {
	float: right;
	width: 200px;
}

body.create input[type=submit] {
	float: none;
	margin-left: 200px;
}


/* AANMELDING */

section.aanmelding div.container form {
	padding-left: 30px;
	padding-top: 5px;
}

section.aanmelding h3 span {
	font-size: 14px;
	padding-left: 10px;
}

section.aanmelding p.checkboxes {
	margin: 0;
}

section.aanmelding ul.documentenLijst {
	font-size: 14px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-left: 10px;

}

section.aanmelding ul.documentenLijst a {
	color: inherit;
}

/* DIGITALE VOORLEGGER */

main.voorlegger table {
	border-collapse: collapse;
	table-layout: fixed;
}

main.voorlegger table.main td {
	text-align: center;
	vertical-align: top;
	padding: 0;
}

main.voorlegger table.main label {
	white-space: nowrap;
	margin: 0 10px;
}

main.voorlegger td.madi,
main.voorlegger td.gka {
	min-width: initial;
	width: 50px;
}
main.voorlegger td.nvt {
	min-width: initial;
	width: 80px;
}

main.voorlegger td.madi label,
main.voorlegger td.gka label,
main.voorlegger td.nvt label {
	display: inline-block;
	width: 100%;
	height: 25px;
	margin: 0;
	font-size: 12px;
}


main.voorlegger table.main input {
	width: auto;
}

main.voorlegger table.main input[type=checkbox] {
	width: 16px;
	height: 16px;
	vertical-align: middle;
	cursor: pointer;
}

main.voorlegger table.main td:first-child {
	/*width: 80%;*/
	text-align: left;
}

main.voorlegger table.main tr:not(.header):not(.documenten):hover td {
	background-color: #eeeeee;
}

main.voorlegger h2 {
	margin-top: 25px;
	margin-bottom: 15px;
	font-size: 110%;
	text-align: left;
}

main.voorlegger thead th {
	padding: 0 10px;
	padding-bottom: 30px;
	padding-top: 10px;
}

main.voorlegger section.header + h2 {

}

div#detail_dossier_form_voorlegger {
	display: none;
}

main.voorlegger tr.sub div {
	display: flex;
	font-size: 85%;
	margin-top: 3px;
	margin-left: 40px;
}

main.voorlegger tr.sub label {
	margin-right: 10px;
	white-space: nowrap;
}

main.voorlegger tr.sub input {
	display: inline;
	width: auto;
}

main.voorlegger table.main label.upload {
	position: relative;
	top: -5px;
	font-size: 12px;
	color: #666666;
	float: right;
	margin-right: 30px;
	margin-top: 5px;
	cursor: pointer;
/*	visibility: hidden; */
}

main.voorlegger table.main label.upload:hover {
	text-decoration: underline;
}
main.voorlegger table.main label.upload:hover span {
   /* Deze span zou on-hover niet underlined moeten zijn, maar
	 text-decoration: none;
	 werkt niet */
}

main.voorlegger table.main td:hover label.upload {
	visibility: visible;
}

main.voorlegger table.main label.upload input[type=file] {
	opacity: 0;
}

main.voorlegger table.main label.upload span {
	/* background-color: #9b9b9b; */
	color: #9b9b9b;
	/* padding: 3px; */
	/* display: inline-block; */
	/* width: 15px;
	height: 15px; */
	/* border: 1px solid; */
	text-align: center;
	font-size: 18px;
	/* line-height: 15px; */
	border-radius: 15px;
	position: relative;
	top: 2px;
}

main.voorlegger table.main label.upload input {
	position: absolute;
	left: 0;
	opacity: 1;
}

main.voorlegger table.main h3 {
	padding: 5px 0;
	padding-left: 40px;
	hyphens: auto;
	text-align: left;
	display: inline-block;
}

main.voorlegger .documenten {

}

main.voorlegger .documenten td {
	font-size: 14px;
}

main.voorlegger .documenten ul {
	padding: 0;
	padding-left: 60px;
	margin: 0;
	margin-bottom: 10px;
}



main.voorlegger .documenten ul li {
	list-style-type: none;
}

main.voorlegger .documenten ul li a {
	color: #333333;
}

main.voorlegger .documenten ul li a:hover {
	color: #000000;
}

main.voorlegger tr.topLevel h3 {
	padding-left: 0;
	font-size: 110%;
}

main.voorlegger tr.header h2 {
	margin-top: 10px;
	font-size: 14px;
}

main.voorlegger table.main td:not(:first-child) {
	background: #f8f8f8;
	text-align: center;
}

main.voorlegger span:nth-child(0n+4) {
	background: transparent;
}

body.madi td.madi, body.gka td.gka {
	border: 1px solid lightgray;
	border-width: 0 1px;
}

main.voorlegger tr.eerste td {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top-width: 1px;
}

main.voorlegger tr.laatste td {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-width: 1px;
}

main.voorlegger section.header span {
	background-color: transparent;
}

main.voorlegger section.metSub span {
	grid-row: span 2;
}

main section#formulierKop {
	background-color: #FAFAFA;
	padding-top: 35px;
	padding-bottom: 35px;
}

main section#subnavigatie {
	border-bottom: 1px solid lightgray;
	padding-top: 8px;
	padding-bottom: 8px;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	height: 50px;
}

main section#subnavigatie ul{
	list-style: none;
	display: flex;
	justify-content: space-around;
	padding: 0;
	margin: 0;
}

main section#subnavigatie ul li{
	text-align: center;
}

main section#subnavigatie ul li:hover{
	border-bottom: 1px solid lightgray;
}

main section#subnavigatie ul li.active {
		border-bottom: 2px solid red;
		font-weight: bold;
}

main section#subnavigatie a {
	color: inherit;
	text-decoration: none;
}


main.voorlegger section, main.dossiers section{
	padding: 0 75px;
}

main form {
	/* padding-left: 75px; */
}

/* section.top { */
	/* background-color: #f8f8f8;  /*   deze regel is voor als deze sectie de complete breedte kan beslaan van .main */
	/* width: 100%;
	margin-bottom: 50px;
} */

main.voorlegger input.overig {
	border: 1px solid #666666;
}

section div label {
	white-space: nowrap;
}

main.voorlegger input[type=submit] {
	/* display: block; */
	width: 120px;
	/* float: right; */
} */

main.voorlegger td input[type=submit] {
	float: none;
}

main.voorlegger p.succesMessage {

}

div#canvases {
	margin: 0 5%;
	max-height: 100vh;
	overflow-y: scroll;
}

div#canvases:empty:after{
	content: "Upload hierboven een document om beginnen.";
	color: #666666;
	margin-top: 30px;
	display: block;
}

/*
	DOCUMENT-SPLITSER en CANVASES
*/

main.voorlegger section.documentSplitser {
	position: fixed;
	left: 0;
	width: 160px;
	border: 1px solid;
	padding: 0;
	background-color: #FAFAFA;
	box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.2);
}

canvas {
	width: 100px;
	border: 1px solid #979797;
	display: inline-block;
	width: 100px;
	margin: 0px 40px 20px 0px;
	position: relative;
	cursor: pointer;
}

div.actief canvas {
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
}

div#canvases div {
	display: inline-block;
	width: 100px;
	margin: 0px auto 10px auto;
	position: relative;
	cursor: pointer;
}

div#canvases div.upgeload {
	opacity: 0.3;
	cursor: default;
}

div.actief:before,div#canvases > div:hover:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: " ";
	background-image: url(/pix/checked-hover.svg);
	background-size: 25px 25px;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 1;
}

div#canvases > div:not(.actief):hover:before {
	opacity: 0.6;
}


/****************************/

main.voorlegger footer h3, main.voorlegger footer p {
	margin-top: 20px;
	overflow: auto;
}

label.GKA {
	-webkit-appearance: none;
	font-size: 120%;
	width: 200px;
	margin: 10px 30px 10px auto;
	display: block;
	color: black;
	white-space: normal;
}

label.GKA input {
	float: left;
	margin-bottom: 30px;
	margin-top: 8px;
}

div#uploadVenster {
	width: 550px;
	padding: 20px;
	position: absolute;
	top: 30px;
	left: 30px;
	background: white;
	font-size: 85%;
	box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.2);
	visibility: hidden;
}

div#uploadVenster img {
	width: 50px;
}

div#uploadVenster p {
	margin-top: 0;
}

div#uploadVenster label {
	display: block;
	margin-top: 15px;
	margin-left: 3px;
	margin-bottom: 5px;
}

div#uploadVenster select,div#uploadVenster label[for=dossier_document_form_onderwerp] {
	display: none;
}

div#uploadVenster input:not([type=hidden]) {
	display: block;
	width: 80%;
}

div#uploadVenster input[type=file] {
	display: none;
}

div#uploadVenster p.buttons {
	margin-top: 15px;
	display: flex;
	justify-content: space-between;
}

div#uploadVenster input[type=submit] {
	width: 85px;
	font-size: 16px;
	height: 33px;
	color: white;
}

textarea {
	width: 100%;
	min-height: 3cm;
	font-size: 100%;
}

p#autoSaveBevestig {
	position: fixed;
	top: 20px;
	left: 20px;
	background: #e8e8e8;
	padding: 10px;
	border: 1px solid;
	visibility: hidden;
}

.flash-message {
	max-width: 600px;
	margin: 10px auto;
	padding: 10px;
	border: 1px solid #CCC;
	box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
	background-color: #FFF;
	display: flex;
}
.flash-message a.btn {
	color: inherit;
	text-decoration: none;
	order: 2;
	width: 15px;
	flex-grow: 0;
	text-align: center;
}
.flash-message span.message {
	order: 1;
	width: auto;
	flex-grow: 1;
}
.flash-message.flash-type-success {
	background-color: #B6E8AA;
	border-color: #5A9B56;
	color: #5A9B56;
}

@media all and (max-width: 480px) {
	body {
		padding: 10px;
		margin-left: 10px;
		margin-right: 10px;
	}
	header {
		margin-left: -10px;
		margin-right: -10px;
		margin-bottom: 20px;
		padding: 10px;
	}
	body.create label {
		display: block;
		width: 100%;
		overflow: auto;
	}

	body.create input,body.create select {
		float: right;
		width: 150px;
	}

	body.create input[type=submit] {
		width: 150px;
		float: right;
	}

	main.voorlegger table.main h3 {
		padding-left: 10px;
		max-width: 120px;
	}

	main.voorlegger table.main label {
		white-space: nowrap;
		margin: 0 5px;
	}
	main.voorlegger tr.sub div {
		display: block;
	}
}

/* SPINNER */

.spinnerContainer {
	width: 100%;
	height: 100%;
	position: absolute;
	background: white;
	opacity: 0.6;
	top: 0;
	left: 0;
	display: none;
	text-align: center;
}

.spinnercontainer img {
	opacity: 0.6;
	width: 100%;
	height: 100%;
}



/* ACCORDEONS */

section.accordeon h3 {
	background-color: #f8f8f8;
	margin-top: 8px;
	padding: 8px 30px;
	cursor: pointer;
}

section.accordeon h3:after {
	content: url("../pix/chevron-down.svg");
	width: 16px;
	height: 16px;
	float: right;
	margin-top: 3px;
}

section.accordeon h3.uitgeklapt:after {
	content: url("../pix/chevron-up.svg");
	width: 16px;
	height: 16px;
	float: right;
	margin-top: 3px;
}

section.accordeon div.container {
	display: none;
}

section.accordeon form {
	padding: 10px 20px;
	background-color: #f8f8f8;
	position: relative;
}

#templates {
	display: none;
}
