
html {
	background-color: #f3f3f3;
}


body {
	max-width: 1024px;
	box-sizing: border-box;
	box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.2);
	margin: 50px auto;
	padding: 75px;
	padding-top: 0;
	padding-bottom: 50px;
	font-family: verdana;
	background-color: white;
	background-image: url(/pix/logo.svg);
	background-size: 30px;
	background-repeat: no-repeat;
	background-position: 94% 50px;
	font-size: 15px;
}

/* PAGINA-HEADER */

header {
	margin-bottom: 75px;
	margin-left: -75px;
	margin-right: -75px;
	padding: 50px 75px;
	border-bottom: 1px solid #cccccc;
}

header p {
	margin: 5px 0;
}

/* SUBMIT-KNOPPEN EN ALS ZODANIG VERMOMDE LINKS */

input[type=submit],a.knop {
	-webkit-appearance: none;
	font-size: 120%;
	width: 200px;
	display: block;
	color: black;
	white-space: normal;
	border: 1px solid rgb(216,216,216);
	border-radius: 15px;
	padding: 3px 10px;
	text-decoration: none;
	width: auto;
	display: inline-block;
	color: black;
}

input[type=submit]:hover,a.knop:hover {
	cursor: pointer;
	background: rgba(255,0,0,0.4);
}

/* ALGEMENE PAGINA-ELEMENTEN */

h1 {
	margin: 0;
	margin-bottom: 20px;
}

h2,h3 {
	margin: 0;
	font-weight: normal;
}

h3 {
	font-size: 100%;
}

/* MAAK NIEUW DOSSIER AAN */

body.create p {
	padding: 3px 0;
}

body.create label {
	display: block;
	width: 400px;
}	

body.create input,body.create select {
	float: right;
	width: 200px;
}

body.create input[type=submit] {
	float: none;
	margin-left: 200px;
}


/* DOSSIERINDEX */

body.index {

}

body.index table {
	width: 100%;
}

body.index th {
	font-weight: normal;
}

body.index td {
	min-width: 50px;
	padding: 3px 0;
}

body.index td.nummer {
	text-align: center;
}

body.index tr:hover {
	background-color: #f3f3f3;
}



/* DIGITALE VOORLEGGER */

body.voorlegger section {
	display: grid;
	grid-template-columns: 1fr 40px 40px 70px;
	-ms-grid-template-columns: 1fr 80px 30px 40px;
	grid-column-gap: 10px;
	/* -ms-grid-gap does not exist */
}

section:not(.header):hover,section:not(.header):hover span {
	background-color: #eeeeee;
}

body.voorlegger h2 {
	margin-top: 25px;
	margin-bottom: 15px;
	font-size: 110%;
}

body.voorlegger section.header span {
	padding-bottom: 30px;
	padding-top: 10px;
}

body.voorlegger section.header + h2 {

}

body.voorlegger section div {
	display: flex;
	font-size: 85%;
	margin-top: 3px;
	margin-left: 40px;
}

body.voorlegger section div label {
	margin-right: 10px;
}

body.voorlegger section h3 {
	text-indent: 40px;
	padding: 5px 0;
}

body.voorlegger section.topLevel h3 {
	text-indent: 0;
	font-size: 110%;
}

body.voorlegger section.header {
	margin-top: 10px;
	font-size: 14px;
}

body.voorlegger section span {
	background: #f8f8f8;
	text-align: center;
}

body.voorlegger span:nth-child(0n+4) {
	background: transparent;
}

body.madi section span.madi, body.gka section span.gka {
	border: 1px solid lightgray;
	border-width: 0 1px;
}

body.voorlegger section.eerste span {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top-width: 1px;
}

body.voorlegger section.laatste span {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-width: 1px;
}

body.voorlegger section.header span {
	background-color: transparent;
}

body.voorlegger section.metSub span {
	grid-row: span 2;
}

body.voorlegger input.overig {
	border: 1px solid #666666;
}

section div label {
	white-space: nowrap;
}

body.voorlegger input[type=submit] {
	display: block;
	width: 200px;
	float: right;
}

body.voorlegger footer h3, body.voorlegger footer p {
	margin-top: 20px;
	overflow: auto;
}

label.GKA {
	-webkit-appearance: none;
	font-size: 120%;
	width: 200px;
	margin: 10px 30px 10px auto;
	display: block;
	color: black;
	white-space: normal;
}

label.GKA input {
	float: left;
	margin-bottom: 30px;
	margin-top: 8px;
}


textarea {
	width: 100%;
	min-height: 3cm;
	font-size: 100%;
}




/*

section.header span:nth-child(2) {
	text-align: right;
}

section.header span:nth-child(4) {
	text-align: center;
}

section:not(.header) span:first-of-type {
	text-align: right;
	padding-right: 5px;
}

section:not(.header) span:nth-child(0n+3) {
	padding-left: 5px;
}

section:not(.header) span:last-of-type {
	text-align: center;
}


Ouwe meuk; niet aankomen

Frut in case of IE

h1 {
	padding: 10px 5px;
	
}

h2,h3,h4 {
	margin: 0;
	float: left;
	max-width: 7cm;
	font-weight: normal;
	font-size: 18px;
	color: var(--donkergrijs);
}


section {
	padding-left: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	clear: both;
	overflow: auto;
	border: 1px solid;
}

div {
	text-align: left;
	float: right;
}

div span,div label {
	display: inline-block;
	min-width: 50px;
}

div label {
	box-sizing: border-box;
	padding: 0 3px;
}

div span:first-of-type,div label:first-of-type {
	text-align: right;
	margin-right: 10px;
}

div span:last-of-type,div label:last-of-type {
	text-align: center;
}

input[type=checkbox] {
	transform: scale(1.4);
}

fieldset {
	border: none;
	border-bottom: 1px solid #ff0000;
	margin: 15px 0;
	padding: 0;
	padding-bottom: 10px;
}

fieldset label {
	display: block;
	padding: 3px 0;
	white-space: nowrap;
}

fieldset input {
	margin-right: 5px;
}


*/

span.tothier ~ section {
	display: none;
}
