
html {
	background-color: #f3f3f3;
	margin: 0;
	padding: 0;
}

body {
	background-color: white;
	max-width: 1024px;
	margin: 50px auto;
	padding: 75px;
	padding-top: 0;
	padding-bottom: 50px;
	box-sizing: border-box;
	box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.2);
	font-family: verdana;
	background-image: url(/pix/logo.svg);
	background-size: 30px;
	background-repeat: no-repeat;
	background-position: 94% 50px;
	font-size: 15px;
}

/* PAGINA-HEADER */

header {
	margin-bottom: 50px;
	margin-left: -75px;
	margin-right: -75px;
	padding: 50px 75px;
	padding-bottom: 50px;
	border-bottom: 1px solid #cccccc;
}

header p {
	margin: 5px 0;
}

/* TABELLEN */

table {
	margin-top: 25px;
}

th {
	text-align: left;
	padding: 10px 0;
}

td {
	min-width: 25%;
	padding: 5px 10px;
	padding-left: 0;
}

td input,td select {
	width: 200px;
}

td div select {
	width: 61px;
	margin-right: 10px;
}

tbody tr:hover {
	background-color: #f3f3f3;
}


/* KNOPPEN EN ALS ZODANIG VERMOMDE LINKS */

input.primair,a.primair {
	-webkit-appearance: none;
	background-color: #ec0000;
	cursor: pointer;
}

input[type=submi],a.knop {
	-webkit-appearance: none;
	background-color: white;
	font-size: 120%;
	color: black;
	white-space: normal;
	border: 1px solid rgb(216,216,216);
	border-radius: 15px;
	padding: 3px 10px;
	text-decoration: none;
	width: auto;
	display: inline-block;
	color: black;
}

/* ALGEMENE PAGINA-ELEMENTEN */

h1 {
	margin: 0;
	margin-bottom: 20px;
}

h2,h3 {
	margin: 0;
	font-weight: normal;
}

h3 {
	font-size: 100%;
}

/* MAAK NIEUW DOSSIER AAN */

body.create p {
	padding: 3px 0;
}

body.create label {
	display: block;
	width: 400px;
}	

body.create input,body.create select {
	float: right;
	width: 200px;
}

body.create input[type=submit] {
	float: none;
	margin-left: 200px;
}


/* DOSSIERINDEX */

/* DIGITALE VOORLEGGER */

body.voorlegger table {
	border-collapse: collapse;
}

body.voorlegger table.main td {
	text-align: center;
	padding: 0;
}

body.voorlegger table.main label {
	white-space: nowrap;
	margin: 0 10px;
}

body.voorlegger td.madi label,
body.voorlegger td.gka label {
	display: inline-block;
	width: 100%;
	height: 25px;
	margin: 0;
}


body.voorlegger table.main input {
	width: auto;
}

body.voorlegger table.main input[type=checkbox] {
	width: 16px;
	height: 16px;
}

body.voorlegger table.main td:first-child {
	width: 80%;
	text-align: left;
}

body.voorlegger table.main tr:not(.header):hover td {
	background-color: #eeeeee;
}

body.voorlegger h2 {
	margin-top: 25px;
	margin-bottom: 15px;
	font-size: 110%;
	text-align: left;
}

body.voorlegger thead th {
	padding: 0 10px;
	padding-bottom: 30px;
	padding-top: 10px;
}

body.voorlegger section.header + h2 {

}

div#detail_dossier_form_voorlegger {
	display: none;
}

body.voorlegger tr.sub div {
	display: flex;
	font-size: 85%;
	margin-top: 3px;
	margin-left: 40px;
}

body.voorlegger tr.sub label {
	margin-right: 10px;
	white-space: nowrap;
}

body.voorlegger tr.sub input {
	display: inline;
	width: auto;
}

body.voorlegger table.main label.upload {
	position: relative;
	font-size: 12px;
	color: #666666;
	float: right;
	margin-right: 30px;
	margin-top: 5px;
	visibility: hidden;
}

body.voorlegger table.main td:hover label.upload {
	visibility: visible;
}

body.voorlegger table.main label.upload span {
	background-color: #9b9b9b;
	color: white;
	padding: 3px;
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 1px solid;
	text-align: center;
	font-size: 18px;
	line-height: 15px;
	border-radius: 15px;
	position: relative;
	top: 2px;
}

body.voorlegger table.main label.upload input {
	position: absolute;
	left: 0;
	opacity: 1;
}

body.voorlegger table.main h3 {
	padding: 5px 0;
	padding-left: 40px;
	hyphens: auto;
	text-align: left;
	display: inline-block;
}

body.voorlegger .documenten {
	background-color: #e8e8e8;
}

body.voorlegger .documenten ul {
	padding: 0;
	padding-left: 25px;
}

body.voorlegger .documenten ul li {
	list-style-type: none;
}

body.voorlegger .documenten ul li a {
	color: #333333;
}

body.voorlegger .documenten ul li a:hover {
	color: #000000;
}

body.voorlegger tr.topLevel h3 {
	padding-left: 0;
	font-size: 110%;
}

body.voorlegger tr.header h2 {
	margin-top: 10px;
	font-size: 14px;
}

body.voorlegger table.main td:not(:first-child) {
	background: #f8f8f8;
	text-align: center;
}

body.voorlegger span:nth-child(0n+4) {
	background: transparent;
}

body.madi td.madi, body.gka td.gka {
	border: 1px solid lightgray;
	border-width: 0 1px;
}

body.voorlegger tr.eerste td {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top-width: 1px;
}

body.voorlegger tr.laatste td {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-width: 1px;
}

body.voorlegger section.header span {
	background-color: transparent;
}

body.voorlegger section.metSub span {
	grid-row: span 2;
}

body.voorlegger input.overig {
	border: 1px solid #666666;
}

section div label {
	white-space: nowrap;
}

body.voorlegger input[type=submit] {
	display: block;
	width: 200px;
	float: right;
}

body.voorlegger td input[type=submit] {
	float: none;
}

body.voorlegger footer h3, body.voorlegger footer p {
	margin-top: 20px;
	overflow: auto;
}

label.GKA {
	-webkit-appearance: none;
	font-size: 120%;
	width: 200px;
	margin: 10px 30px 10px auto;
	display: block;
	color: black;
	white-space: normal;
}

label.GKA input {
	float: left;
	margin-bottom: 30px;
	margin-top: 8px;
}

div#uploadVenster {
	width: 550px;
	padding: 20px;
	position: absolute;
	top: 0;
	left: 0;
	background: white;
	font-size: 11px;
	box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.2);
	visibility: hidden;
}

div#uploadVenster img {
	width: 50px;
}

div#uploadVenster p {
	margin-top: 0;
}

div#uploadVenster label {
	display: block;
	margin-top: 15px;
	margin-left: 3px;
	margin-bottom: 5px;
}

div#uploadVenster select,div#uploadVenster label[for=dossier_document_form_onderwerp] {
	display: none;
}

div#uploadVenster input:not([type=hidden]) {
	display: block;
	width: 80%;
}

div#uploadVenster input[type=file] {
	display: none;
}

div#uploadVenster p.buttons {
	margin-top: 15px;
	display: flex;
	justify-content: space-between;
}

div#uploadVenster input[type=submit] {
	width: 85px;
	font-size: 16px;
	height: 33px;
	color: white;
}

div#uploadVenster button {
	-webkit-appearance: none;
	border: none;
	font-size: 16px;
	background: transparent;
}

textarea {
	width: 100%;
	min-height: 3cm;
	font-size: 100%;
}

@media all and (max-width: 480px) {
	body {
		padding: 10px;
		margin-left: 10px;
		margin-right: 10px;
	}
	header {
		margin-left: -10px;
		margin-right: -10px;
		margin-bottom: 20px;
		padding: 10px;	
	}
	body.create label {
		display: block;
		width: 100%;
		overflow: auto;
	}	

	body.create input,body.create select {
		float: right;
		width: 150px;
	}

	body.create input[type=submit] {
		width: 150px;
		float: right;	
	}
	
	body.voorlegger table.main h3 {
		padding-left: 10px;
		max-width: 120px;
	}

	body.voorlegger table.main label {
		white-space: nowrap;
		margin: 0 5px;
	}
	body.voorlegger tr.sub div {
		display: block;
	}
}