
html {
	--rood: #ff0000;
	--grijs: #f3f3f3;
	--donkergrijs: #666666;	
	background-color: var(--grijs);
}

body {
	max-width: 13cm;
	margin: 0 auto;
	padding: 5px;
	font-family: "Gill Sans";
	background-color: white;
	background-image: url(logo.svg);
	background-size: 30px;
	background-repeat: no-repeat;
	background-position: 98% 1%;
	font-size: 18px;
}

h1 {
	margin: 0;
}

fieldset {
	border: none;
	border-bottom: 1px solid #ff0000;
	margin: 15px 0;
	padding: 0;
	padding-bottom: 10px;
}

fieldset label {
	display: block;
	padding: 3px 0;
	white-space: nowrap;
}

fieldset input {
	margin-right: 5px;
}

h2,h3 {
	margin: 0;
	font-weight: normal;
}

h2 {
	margin-top: 15px;
	margin-bottom: 5px;
}

h3 {
	font-size: 100%;
}

section:not(.header):hover,fieldset label:hover {
	background-color: var(--grijs);
}

section {
	display: grid;
	grid-template-columns: 1fr 80px 30px 40px;
	-ms-grid-template-columns: 1fr 80px 30px 40px;
	grid-column-gap: 10px;
	/* -ms-grid-gap does not exist */
	padding: 5px 0;
}

section div {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	font-size: 85%;
	margin-top: 3px;
}

section.sub + section:not(.sub) {
	margin-top: 15px;
}

section.sub h3 {
	text-indent: 25px;
}

section.header span {
	font-size: 14px;
}

section.header span:nth-child(2) {
	text-align: right;
}

section.header span:nth-child(4) {
	text-align: center;
}

section:not(.header) span {

}

section:not(.header) span:first-of-type {
	text-align: right;
	padding-right: 5px;
}

section:not(.header) span:nth-child(0n+3) {
	padding-left: 5px;
}

section:not(.header) span:last-of-type {
	text-align: center;
}

section div label {
	white-space: nowrap;
}

input[type=submit],label.GKA {
	-webkit-appearance: none;
	font-size: 120%;
	width: 200px;
	margin: 10px 30px 10px auto;
	display: block;
	color: black;
	white-space: normal;
}

input[type=submit] {
	border-radius: 15px;
}

input[type=submit]:hover {
	cursor: pointer;
	background: rgba(255,0,0,0.4);
}

label.GKA input {
	float: left;
	margin-bottom: 30px;
	margin-top: 8px;
}


textarea {
	width: 100%;
	min-height: 3cm;
	font-size: 100%;
}


/*

Frut in case of IE

h1 {
	padding: 10px 5px;
	
}

h2,h3,h4 {
	margin: 0;
	float: left;
	max-width: 7cm;
	font-weight: normal;
	font-size: 18px;
	color: var(--donkergrijs);
}


section {
	padding-left: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	clear: both;
	overflow: auto;
	border: 1px solid;
}

div {
	text-align: left;
	float: right;
}

div span,div label {
	display: inline-block;
	min-width: 50px;
}

div label {
	box-sizing: border-box;
	padding: 0 3px;
}

div span:first-of-type,div label:first-of-type {
	text-align: right;
	margin-right: 10px;
}

div span:last-of-type,div label:last-of-type {
	text-align: center;
}

input[type=checkbox] {
	transform: scale(1.4);
}


*/

span.tothier ~ section {
	display: none;
}
