<p>Bij deze versie zitten verbeteringen van de PDF splitter, zijn verwijderde dossiers herkenbaar en is de volgorde van de secties wat aangepast.</p>

<h3>Nieuw</h3>
<h4>Verbeteringen PDF splitter</h4>
<p>
  Om de PDF splitter nog bruikbaarder te maken zijn er wat verbeteringen aangebracht:
</p>
<ul>
  <li>
    <strong>Checks: </strong>Pagina's die zijn toegevoegd aan een sectie zijn nu herkenbaar aan een checkje rechtsbovenin. Wanneer je met je muis over dit checkje heen gaat zie je aan welke sectie de pagina is toegevoegd. Wanneer je erop klikt opent de desbetreffende sectie.
    <img width="600px" src="/images/release-notes/splitsenpdf-checks-anim.gif">
  </li>
  <li>
    <strong>Beter zichtbaar:</strong> De splitter heet nu PDF splitsen en het icoon geeft aan dat het uitklapbaar is.
  </li>
</ul>

<h4>Kleine wijzigingen</h4>
<ul>
  <li>
    <strong>Sectie Ondertekend Aanvraagformulier verplaatst.</strong> Veel gebruikers van SchuldDossier zochten deze sectie bovenin de lijst, daarom hebben we de sectie met het Aanvraagformulier naar boven verplaatst.
  </li>
</ul>
<h4>Verwijderde dossiers</h4>
<p>
  Wanneer een dossier is verwijderd en zo in de prullenbak is gekomen, dan is deze nu ook als dusdanig herkenbaar. Het is namelijk nog wel via 'zoeken' vindbaar, zodat ook per ongeluk verwijderde dossiers terug te vinden zijn.
</p>
<img width="600px" src="/images/release-notes/verwijderd-dossier-ovz.png">
<img width="600px" src="/images/release-notes/verwijderd-dossier.png">
