<p>In deze versie is de Zoom-functionaliteit verbeterd en een dossier-logboek toegevoegd.</p>

<h3>Nieuw</h3>
<h4>Zoom-in document</h4>
<p>
  Na aanleiding van feedback op het in-zoomen op documenten is het zoomen van 5x vergroting teruggedraaid naar 2x vergroting. De werking is hetzelfde gebleven.
</p>
