.aantekening-form {
  label {
    display: none;
  }
}

.aantekening-form-row {
  position: static;
  padding: $padding / 2;
  background-color: $lightColor;
  margin-bottom: $padding / 2;
  &:before {
    content: '';
    position: absolute;
    background-color: $lightColor;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
  }
  div.active {
    height: 6rem;
  }
  textarea {
    position: absolute;
    z-index: 2;
    left: $padding / 2;
    top: $padding / 2;
    width: calc(100% - #{$padding});
    height: calc(100% - #{$padding});
    display: none;
  }
  .active {
    textarea {
      display: block;
      z-index: 5;
    }
  }
  .aantekening-toevoegen {
    position: absolute;
    z-index: 4;
    left: 50%;
    top: $padding / 2;
    white-space: nowrap;
    transform: translate3d(-50%, 0, 0);
  }
}

.aantekening-toevoegen.active {
  display: none;
}

.aantekeningen {
  position: relative;
  
  padding: $padding 0;
  
  background-color: $lightColor;
  margin-bottom: $lineHeight;
  > *:last-child {
    margin-bottom: 0;
  }
  
  //&:before {
  //  content: '';
  //  position: absolute;
  //  z-index: 1;
  //  left: 50%;
  //  top: $padding;
  //  bottom: $padding;
  //  width: 4px;
  //  background-color: #fff;
  //  margin-left: -2px;
  //}
  
  
}
.aantekening {
  width: 50%;
  position: relative;
  box-sizing: border-box;
  text-align: right;
  padding: $padding/2 4rem;
}
.aantekening-bericht {
  padding: .2em 1em .3em 1em;
  margin: 0;
  display: inline-block;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(#000, .1);
}
.aantekening-meta {
  margin: 0 0 .5em 0;
  line-height: 1.2;
  time {
    position: absolute;
    z-index: 2;
    top: $padding / 2;
    left: calc(100% - 3.5rem);
    font-size: 1.2rem;
    width: 7rem;
    margin-top: -1px;
    
    text-align: center;
    padding: 5px 0 3px 0;
    background-color: $lightColor;
    font-family: sans-serif;
  }
}
.aantekening-context {
  font-size: 1.2rem;
  color: rgba($textColor, .8);
  display: block;
  &:before {
    content: 'in ';
  }
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}
.aantekening-mijn {
  margin-left: auto;
  text-align: left;
  .aantekening-meta {
    time {
      left: auto;
      right: calc(100% - 3.5rem);;
    }
  }
  &:before {
    content: '';
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    bottom: 0;
    width: 4px;
    background-color: #fff;
    margin-left: -2px;
  }
  .aantekening-bericht {

  }
}
.form-row + .aantekeningen {
  padding-top: 0;
  max-height: 500px;
  overflow-x: auto;
}