
.document__viewer {
  box-shadow: $boxShadowDefault inset;
  border-radius: 10px;
  width: 780px;
  background-color: #d8d8d8;
  position: absolute;
  right: 10px;
  top: 10px;
  bottom: 10px;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    width: 100px;
    height: 100px;
    margin-left: -50px;
    margin-top: -50px;
    &.visible {
      display: block;
    }
  }
  canvas {
    transition: transform .3s $transitionEaseDefault;
    display:inline-block;
    cursor: zoom-out;
    background-color: white;
    box-shadow: rgba(0,0,0,0.5) 2px 2px 6px 1px;
  }
  &.dragging canvas {
    cursor: grab;
  }

  .document__viewer__wrapper {
    height: calc(100% - 70px);
    margin: 60px 10px 10px;
  }
  .viewer-container {
  display: flex;
  align-items: center;
  justify-content: center;
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    width: 100%;
    position: relative;

    .error-counter,
    .error {
      display: block;
      text-align: center;
    }
    .error {
      margin: 4rem auto 0;
    }
  }
  .page-counter {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 8rem;
    transform: translate3d(-50%, 0, 0);

    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 0 1rem;
    line-height: 3rem;

    opacity: .1;
    transition: all .3s;

  }
  .button {
    opacity: 1;
    position: absolute;
    width: 40px;
    height: calc(100% - 50px);
    text-align: center;
    padding: 0;
    border: none;
    bottom: 0;
    margin: 0;
    top: 50px;
    background-color: rgba(0, 0, 0, 0);
    transition: all .5s;
    z-index: 1;
    &:before {
      content: '';
      width: 8px;
      height: 8px;
      position: absolute;
      border-left: 3px solid #fff;
      border-top: 3px solid #fff;
      transform: rotate(-45deg);
      left: 14px;
      top: calc(50% - 5px);
      z-index: 1;
    }
    &:after {
      content: '';
      position: absolute;
      background-color: #000;
      height: 40px;
      width: 40px;
      left: 0;
      top: calc(50% - 20px);

    }

    &.prev,
    &.next {
      padding: 0;
    }
    &.prev {
      left: 0;
    }
    &.next {
      right: 0;
      transform: rotate(180deg);
    }
    &.prev-document {
      width: 6rem;
      left: calc(50% - 14.4rem);
      .icon-file {
        right: -11px;
        position: absolute;
        top: -23px;
        transform: scale(.3);

      }
    }
    &.next-document {
      width: 6rem;
      transform: rotate(0);
      left: calc(50% + 8.4rem);
      .icon-file {
        left: -11px;
        position: absolute;
        top: -23px;
        transform: scale(.3);

      }
      &:before {
        right: 12px;
        left: auto;
        transform: rotate(135deg);
      }
    }
    &:hover {
      background-color: rgba(0, 0, 0, .3);
    }
  }
  &:hover {
    .page-counter, .button {
      opacity: 1;
    }
  }

  .zoom {
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    top: auto;
    bottom: 0;
    width: auto;
    font-size: 1.2rem;
    padding: 0 1em;
    line-height: 2.8rem;
    transition: opacity .3s;
    background: black;
    height: 40px;
    z-index: 1;
    &:before {
      position: relative;
      left: 0;
      top: 6px;
      transform: none;
      content: '';
      border: none;
      margin-right: .5em;
      @extend .icon-zoomin !optional;
      width: 17px;
      height: 17px;
    }
    &:after {
      position: static;
      background: transparent;
      content: 'Zoom in';
    }
  }
  .status {
    position: absolute;
    width: 400px;
    top: calc(50% + 50px);
    left: calc(50% - 200px);
    display: none;
    text-align: center;
  }
  &:before {
    content: '';
    display: none;
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    @extend .icon-spinner-transparent;
  }
  &.fit-mode {
    canvas {
      cursor: zoom-in;
      position: static;
      width: 100%;
    }
    .zoom:before {
      @extend .icon-zoomuit !optional;
    }
    .zoom:after {
      content: 'Zoom uit';
    }
  }
  &.disabled .status {
      top: calc(50%);
  }
  &.disabled,
  &.loading {
    .status,
    &:before {
      display: block;
    }
    .next,
    .prev,
    .zoom {
      transition: none;
      pointer-events: none;
      opacity: 0;
    }
  }
  &.disabled {
    .status {
      display: block;
    }
    &:before {
      display: none;
    }
  }
  &.disabled.loading .status {
      top: calc(50% + 50px);
  }
}
.document__viewer__header {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  line-height: 40px;
  font-size: $fs-large;
  font-family: $ff-headings;
  background: white;
  width: calc(100% - 20px);
  margin: 10px;
  text-align: center;
  box-shadow: $boxShadowDefault;
}
