.document-container {
  max-width: $maxContentWidth;
  margin: 2 * $lineHeight auto;
}

.document {
  background-color: #fff;
  .document-team {
    border-bottom: 1px solid #CCCCCC;
    padding: 0 0 1rem 0;
    margin: 0 0 $lineHeight 0;
  }
  .column {
    width: 50%;
    margin-right: $padding;
    margin-bottom: $lineHeight;
    &:last-child {
      margin-right: 0;
    }
  }
  
  .document-header {
    margin: (-$padding) (-$padding) $padding (-$padding);
    @include medium {
      margin: (-10px) (-10px) 10px (-10px);
    }
  }
  
  .document-footer {
    margin: $padding (-$padding) (-$padding) (-$padding);
    @include medium {
      margin: 10px (-10px) (-10px) (-10px);
    }
  }
  
  .document-meta {
    margin: 0 0 0 $padding;
    font-size: $fontSmallSize;
    list-style: none;
    text-align: right;
  }
  
  
  .buttons {
    margin-bottom: 0;
  }
  
}

.document-header,
.document-footer {
  background-color: #fbfbfb;
  margin-bottom: $lineHeight;
  padding: $padding;
  @include medium {
    padding: 10px;
  }
  p {
    margin: 0;
  }
}
.document-footer {
  border-top: 1px solid #dfdfdf;
}

.document-header {
  border-bottom: 1px solid #dfdfdf;
  &.group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  .document-title {
    margin-bottom: .2em;
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}