.document-container {
  max-width: $maxContentWidth;
  margin: 2 * $lineHeight auto;
  
  transition: padding .3s;
}

.document {
  background-color: #fff;
  .document-team {
    border-bottom: 1px solid #CCCCCC;
    padding: 0 0 1rem 0;
    margin: 0 0 $lineHeight 0;
  }
  
  .document-header {
    margin: (-$padding) (-$padding) $padding (-$padding);
    @include medium {
      margin: (-10px) (-10px) 10px (-10px);
    }
  }
  
  .document-footer {
    margin: $padding (-$padding) (-$padding) (-$padding);
    @include medium {
      margin: 10px (-10px) (-10px) (-10px);
    }
  }
  
  .document-meta {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      margin-right: 1em;
    }
    
  }
  
  
}

.document-header,
.document-footer {
  background-color: #f7f7f7;
  margin-bottom: $lineHeight;
  padding: $padding;
  @include medium {
    padding: 10px;
  }
  p {
    margin: 0;
  }
}
.document-footer {
  border-top: 1px solid #dfdfdf;
}

.document-header {
  border-bottom: 1px solid #dfdfdf;
  &.group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  .document-title {
    margin-bottom: .2em;
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
.bestanden {
  font-size: 0;
  list-style: none;
  padding: 0;
  margin: 0 0 -20px 0;
  li {
    display: inline-block;
    position: relative;
  }
}

.bestand {
  position: relative;
  display: inline-block;
  padding: 30px 30px 28px 30px;
  
  margin: 0 0 20px 0;
  background-color: rgba($brandColor2, 0);
  transition: background-color .3s;
  i {
    transition: box-shadow .3s;
    box-shadow: 0 0 5px 0 rgba(#000, 0);
    &:after {
      transition: opacity .3s;
    }
  }
  .bestand-naam {
    position: absolute;
    font-size: 10px;
    line-height: 1.2;
    font-family: Tahoma;
    text-align: center;
    padding: 4px 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
a.bestand {
  &:before {
    content: '';
    position: absolute;
    z-index: 2;
    @extend .icon-download !optional;
    width: 24px;
    height: 24px;
    top: 5rem;
    left: 50%;
    margin-left: -12px;
    opacity: 0;
    transition: opacity .3s;
  }
  &:hover {
    background-color: rgba($brandColor2, .2);
    &:before {
      opacity: 1;
    }
    i {
      box-shadow: 0 0 5px 0 rgba(#000, .4);
    }
  }
  &.add {
    &:before {
      display: none;
    }
    &:hover {
      .icon-file:after {
        opacity: 1;
      }
    }
  }
}
.bestand-verwijderen-check {
  position: absolute;
  opacity: 0;
}
.bestand-verwijderen {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  font-size: 0;
  width: 3rem;
  height: 3rem;
  text-align: center;
  opacity: 0;
  background-color: rgba(#fff, .8);
  transition: all .3s;
  &:before {
    content: '';
    @extend .icon-prullenbak !optional;
    margin-top: .5rem;
    width: 20px;
    height: 20px;
  }
  &:hover {
    background-color: rgba(#fff, 1);
  }
}

.bestand-zoom {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  font-size: 0;
  width: 3rem;
  height: 3rem;
  text-align: center;
  opacity: 0;
  background-color: rgba(#fff, .8);
  transition: all .3s;
  text-decoration: none;
  &:before {
    content: '';
    position: absolute;
    z-index: 2;
    left: .6rem;
    top: .4rem;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1rem;
    border: 2px solid $textColor;
    background-color: #fff;
    
    font-weight: bold;
  }
  &:after {
    content: '';
    position: absolute;
    z-index: 1;
    left: 1.9rem;
    top: 1.5rem;
    width: 0;
    height: 1rem;
    border-left: 4px solid $textColor;
    transform: rotate(-45deg);
    
  }
  &:hover {
    background-color: rgba(#fff, 1);
  }
  
}

.bestanden {
  li {
    margin-right: 10px;
  }
  li:hover {
    .bestand-verwijderen,
    .bestand-zoom {
      opacity: 1;
    }
  }
  .bestand-verwijderen-check:checked ~ label {
    opacity: 1;
    background-color: transparent;
    &:before {
      background-image: url('../images/ico_undo.svg');
    }
    &:after {
      content: 'wordt verwijderd';
      position: absolute;
      left: 2rem;
      width: 8rem;
      top: 5rem;
      font-size: 12px;
      line-height: 1;
      text-align: center;
    }
  }
  .bestand-verwijderen-check:checked ~ .bestand {
    .icon-file {
      opacity: .1;
    }
    
    &:hover {
      &:before {
        opacity: 0;
      }
      .icon-file:after {
        opacity: 1;
      }
    }
    
  }
}