header.top {

  background-color: #FFFFFF;
//  display: flex;
//  justify-content: space-evenly;
//  align-items: center;
  padding: $padding / 2 $padding;
  
  min-height: 68px;

  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  border-bottom: 1px solid darken($lightColor, 20);
  z-index: 99;
  
  
  .logo {
    position: absolute;
    left: $padding;
    top: $padding / 2;
    width: 65px;

    flex-grow: 0;
    height: 35px;
    
    img {
      width: 100%;
    }
  }
  
  .container {
    position: relative;
  }
  
  
  @include medium {
    padding: 10px;
  }
  
}

.logo {
  position: relative;
  display: inline-block;

  font-size: 1.3rem;
  width: 6em;
  
  line-height: 1;
  color: $accentColor;

  text-decoration: none;
  padding-left: 3rem;
  min-height: 7rem;

  i {
    position: absolute;
    left: 0;
    top: 0;
    padding-right: 1rem;
  }
  .icon-andreas {
    width: 2rem;
    height: 6.8rem;
  }

  strong {
    position: absolute;
    top: 0;
    left: 14rem;
    font-size: 2.8rem;
    line-height: 1;
    white-space: nowrap;
    color: #000;
    font-weight: normal;
  }
  &:hover {
    color: $accentColor;
  }
  
  @include medium {
    font-size: 14px;
    padding-left: 22px;
    min-height: 41px;
    strong {
      font-size: 18px;
      left: 120px;
      top: -1px;
    }
    .icon-andreas {
      height: 41px;
    }
  }
}

.pdf-splitter.animatable ~ header.top,
.pdf-splitter.animatable ~ header.top .logo {
  transition: transform .3s;
}



//.menu {
//  margin-right: auto;
//  ul {
//    list-style: none;
//    padding: 0;
//    margin: 0;
//    display: flex;
//  }
//  a {
//    font-size: 1.8rem;
//    line-height: 1;
//    display: inline-block;
//    text-decoration: none;
//    padding: .4em 1em;
//    margin-bottom: -3px;
//    border-bottom: 3px solid #fff;
//    &.active {
//      border-color: $brandColor1;
//      @extend .bold !optional;
//    }
//  }
//}


body {
  padding-top: calc(60px + #{ 2 * $lineHeight});
  @include medium {
    padding-top: calc(30px + #{ 2 * $lineHeight});
  }
}