.icon-andreas {
  display: inline-block;
  vertical-align: top;
  
  width: 20px;
  height: 68px;

  background-image: url('../images/ico_andreas.svg');
  background-size: auto 100%;
  
  background-repeat: no-repeat;
}

.icon-arrow,
.icon-arrow-left,
.icon-arrow-right,
.icon-arrow-bottom,
.icon-arrow-up {
  position: relative;
  top: .4em;
  display: inline-block;
  vertical-align: top;
  content: '';
  width: .4em;
  height: .4em;
  transform: rotate(45deg);
  border-top: .15em solid $textColor;
  border-right: .15em solid $textColor;
}

.icon-arrow-left {
  transform: rotate(-135deg);
}
.icon-arrow-right {
  transform: rotate(45deg);
}
.icon-arrow-bottom {
  transform: rotate(135deg);
}
.icon-arrow-up {
  transform: rotate(-45deg);
}

.icon-menu, .icon-close {
  position: relative;
  z-index: 2;
  display: inline-block;
  margin-left: 10px;
  
  vertical-align: middle;
  width: 44px;
  height: 44px;
  background-color: #fff;
  text-align: center;
  
  &:before, &:after {
    position: absolute;
    left: 12px;
    top: 14px;
    content: '';
    display: inline-block;
    width: 20px;
    height: 8px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
  }
  &:after {
    top: 19px;
    border-bottom: 0;
  }
}

.icon-close {
  background-color: #fff;
  &:before {
    display: none;
  }
}


.icon-file {
  position: relative;
  
  display: inline-block;
  vertical-align: top;
  width: 6rem;
  height: 7.5rem;
  box-sizing: border-box;
  padding-top: .2rem;
  
  border: 3px solid $textColor;
  
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  
  text-transform: uppercase;
  line-height: 1;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  font-size: 4rem;
  font-family: Tahoma;
  
  border-radius: 0 14px 0 0;
  
  
  
  &[data-extension] {
    &:after {
      content: attr(data-extension);
      position: absolute;
      font-size: 8px;
      color: #fff;
      padding: .3em;
      background-color: $textColor;
      left: 20%;
      right: -.6rem;
      bottom: .5rem;
      overflow: hidden;
    }
  }
  
}

.icon-prullenbak {
  position: relative;
  display: inline-block;
  
  width: 12px;
  height: 12px;
  
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-image: url('../images/ico_delete.png');
}

.icon-uit-prullenbak {
  position: relative;
  display: inline-block;
  
  width: 12px;
  height: 12px;
  
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-image: url('../images/ico_trashopen.png');
}

.icon-splitsen {
  position: relative;
  display: inline-block;
  
  width: 12px;
  height: 12px;
  
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-image: url('../images/ico_split.png');
}

.icon-download {
  position: relative;
  display: inline-block;
  
  width: 12px;
  height: 12px;
  
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-image: url('../images/ico_download.png');
}

.icon-documenten {
  position: relative;
  display: inline-block;
  
  width: 12px;
  height: 12px;
  
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-image: url('../images/ico_documenten.svg');
}

.icon-undo {
  position: relative;
  display: inline-block;
  
  width: 12px;
  height: 12px;
  
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-image: url('../images/ico_undo.svg');
}

.icon-search {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 17px ;
  height: 15px;
  &:before, &:after {
    content: '';
    position: absolute;
  }
  &:before {
    width: 10px;
    height: 10px;
    left: 0;
    top: 0;
    border-radius: 50%;
    border: 2px solid $textColor;
  }
  &:after{
    width: 8px;
    height: 0;
    bottom: 0;
    right: 0;
    border-top: 2px solid $textColor;
    transform: rotate(45deg);
  } 
}

