.icon-andreas {
  display: inline-block;
  vertical-align: top;
  
  width: 20px;
  height: 68px;

  background-image: url('../images/ico_andreas.svg');
  background-size: auto 100%;
  
  background-repeat: no-repeat;
}

.icon-arrow,
.icon-arrow-left,
.icon-arrow-right,
.icon-arrow-bottom,
.icon-arrow-up {
  position: relative;
  top: .4em;
  display: inline-block;
  vertical-align: top;
  content: '';
  width: .4em;
  height: .4em;
  transform: rotate(45deg);
  border-top: .15em solid $textColor;
  border-right: .15em solid $textColor;
}

.icon-arrow-left {
  transform: rotate(-135deg);
}
.icon-arrow-right {
  transform: rotate(45deg);
}
.icon-arrow-bottom {
  transform: rotate(135deg);
}
.icon-arrow-up {
  transform: rotate(-45deg);
}

.icon-menu, .icon-close {
  position: relative;
  z-index: 2;
  display: inline-block;
  margin-left: 10px;
  
  vertical-align: middle;
  width: 44px;
  height: 44px;
  background-color: #fff;
  text-align: center;
  
  &:before, &:after {
    position: absolute;
    left: 12px;
    top: 14px;
    content: '';
    display: inline-block;
    width: 20px;
    height: 8px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
  }
  &:after {
    top: 19px;
    border-bottom: 0;
  }
}

.icon-close {
  background-color: #fff;
  &:before {
    display: none;
  }
}


.icon-file {
  position: relative;
  
  display: inline-block;
  vertical-align: middle;
  width: 13px * 3;
  height: 18px * 3;
  overflow: hidden;
  &:before, &:after {
    content: '';
    position: absolute;
  }
  &:before {
    content: '';
    position: absolute;
    left: -16px * 3;
    top: 4px * 3;
    width: 40px;
    height: 40px * 3;
    background-color: #fff;
    transform: rotate(45deg);
  }
  &:after {
    width: 7px;
    height: 5px;
    border-top: 3px solid $textColor;
    border-bottom: 3px solid $textColor;
    left: 3px * 3;
    top: 6px * 3;
    box-shadow:  0 -2px 0 0 #fff inset, 0 -3px 0 0 $textColor inset;
  }
  
}