.pagination {
  width: 100%;
  display: flex;
  padding: 20px;
  box-sizing: border-box;
  > {
    * {
      width: 33%;
      flex-grow: 1;
    }
    a {
      color: #000000;
    }
    .prev {
      text-align: left;
    }
    span {
      text-align: center;
    }
    .next {
      text-align: right;
    }
  }
}
