.quick-viewer .modal-window {
  width: calc(100% - #{1 * $padding});
  height: calc(100% - #{1 * $padding});
  max-height: none;
  top: $padding / 2;
  left: $padding / 2;
  margin: 0;
  .modal-header {}
  .modal-body {
    position: absolute;
    top: 4.7rem;
    bottom: 0;
    left: 0;
    right: 0;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      display: none;
      width: 100px;
      height: 100px;
      margin-left: -50px;
      margin-top: -50px;
      &.visible {
        display: block;
      }
    }
    canvas {
      width: 100%;
    }
    
    .viewer-container {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
    }
    .page-counter {
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 8rem;
      transform: translate3d(-50%, 0, 0);
      
      text-align: center;
      background-color: #000;
      color: #fff;
      padding: 0 1rem;
      line-height: 3rem;
      
      opacity: .1;
      transition: all .3s;
      
    }
    .button {
      position: absolute;
      width: 3rem;
      height: 3rem;
      text-align: center;
      background-color: #000;
      padding: 0;
      border: none;
      bottom: 0;
      margin: 0;
      &:before {
        content: '';
        width: 8px;
        height: 8px;
        position: absolute;
        border-left: 3px solid #fff;
        border-top: 3px solid #fff;
        transform: rotate(-45deg);
        left: 12px;
        top: 9px;
      }
      opacity: .1;
      transition: all .3s;
      
      &.prev {
        left: calc(50% - 8.2rem);
      }
      &.next {
        left: calc(50% + 5.2rem);
        transform: rotate(180deg);
      }
    }
    &:hover {
      .page-counter, .button {
        opacity: 1;
      }
    }
    
    .toggle-fit-mode {
      left: calc(50% + 9rem);
      width: auto;
      font-size: 1.2rem;
      padding: 0 1em;
      line-height: 2.8rem;
      &:before {
        position: relative;
        left: 0;
        top: 6px;
        transform: none;
        content: '';
        border: none;
        margin-right: .5em;
        @extend .icon-zoomuit !optional;
        width: 17px;
        height: 17px;
      }
      &:after {
        content: 'Zoom uit';
      }
    }
  }
  &.fit-mode {
    .modal-body {
      canvas {
        display: block;
        max-height: 100%;
        width: auto;
        margin: 0 auto;
      }
    }
    .toggle-fit-mode {
      &:before {
        content: '';
        transform: none;
        background-image: url('../images/ico_zoomin.png');
      }
      &:after {
        content: 'Zoom in';
      }
    }
  }
}

.quick-viewer > a:before {
  content: '×';
  position: fixed;
  z-index: 3;
  right: 3.4rem;
  left: auto;
  top: 2.5rem;
  right: 2.5rem;
  width: 3rem;
  height: 3rem;
  color: #fff;
  font-size: 3rem;
  background-color: $textColor;
  font-weight: bold;
  line-height: 2.8rem;
  text-align: center;
  cursor: pointer;
}
