.release-notes {
  &__nieuw {
    display: inline-block;
    padding-left: 26px;
    font-style: italic;
    position: relative;
    pointer-events: none;
    font-size: 10px;
    //opacity: 0;
  }
  &__nieuw__icon {
    opacity: 0;
    transition: opacity .3s linear 0s;
  }
  &__nieuw__icon:before,
  &__nieuw__icon:after {
    //transform: scale(1) rotate(-45deg);
    animation: pulse-star 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.01s 1;
  }
  &__nieuw__icon:before {
    content: '';
    @extend .ico-star;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 0;
    top: -4px;
    display: inline-block;
    width: 20px;
    height: 20px;
    //background-color: $brandColor1;
    border-radius: 50%;
  }
  &__nieuw__icon:after {
    content: 'NEW';
    position: absolute;
    width: 20px;
    height: 20px;
    left: -1px;
    top: -3px;
    color: #fff;
    transform: rotate(-45deg);
    line-height: 20px;
    font-weight: bold;
    font-size: 6px;
    text-align: center;
    letter-spacing: -1px;
  }


  &__menu {
    opacity: 0;
    pointer-events: none;
    position: relative;
    height: 50px;
    transition: all .3s linear .2s;
    &:after,
    &:before {
      content: '';
      position: absolute;
      width: 6px;
      height: 1.5px;
      background-color: #000;
      border-radius: 1px;
      top: 25px;
      transition: all .5s $transition-ease-default .2s;
    }
    &:before {
      right: 10px;
      transform-origin: left center;
      transform: rotate(-45deg);
    }
    &:after {
      right: 15px;
      transform-origin: right center;
      transform: rotate(45deg);
    }
    .release-notes__nieuw {
      margin: 18px 35px 0 15px;
    }
    .release-notes__nieuw__icon {
      opacity: 1;
    }

  }
  &__menu-content {
    pointer-events: none;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 50px;
    background-color: #fff;
    box-shadow: $boxShadowDefault;
    padding: 20px;
    width: 350px;
    transform-origin: top right;
    transform: scale(.5, .5);
    transition: transform .3s $transitionEaseDefault, opacity .2s $transitionEaseDefault;
    > *:last-child {
      margin-bottom: 0;
      align-self: flex-end;
    }
    p {
      margin-bottom: 40px;
    }
  }
  &__menu-trigger {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &__menu:hover {
    background-color: $lightColor;
  }
}

.release-notes-menu-active .release-notes__menu-content {
  pointer-events: auto;
  display: flex;
  z-index: 350;
  flex-direction: column;
  transform: scale(1, 1);
  opacity: 1;
  transition: transform .3s $transitionEaseDefault, opacity .5s linear;
}

.release-notes-menu-active .release-notes__menu-trigger {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 300;
  background-color: transparent;
}
.release-notes-not-seen .release-notes__menu {
  opacity: 1;
  pointer-events: auto;
}
.release-notes-menu-active .release-notes__menu {
    &:before,
    &:after {
      top: 20px;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
}

.release-note-not-seen .release-notes__nieuw__icon {
  opacity: 1;
  transition: opacity .3s linear 0s;
}


@keyframes pulse-star {
  0% {
    opacity: 0;
    transform: scale(1) rotate(-45deg);
  }
  25% {
    opacity: .5;
    transform: scale(1.3) rotate(-35deg);
  }
  50% {
    opacity: 1;
    transform: scale(1) rotate(-45deg);
  }
  75% {
    opacity: 1;
    transform: scale(1.3) rotate(-35deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(-45deg);
  }
}
