.schulditem-header {
  display: flex;
  height: 20px;
  .naam {
    font-size: $fontSize;
    height: 20px;
    line-height: 20px;
    margin-right: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  a {
    text-decoration: none;
  }
  .referentie {
    color: #666666;
  }

  .voortgang {
    width: 150px;
    flex-grow: 0;

    height: 20px;
    line-height: 20px;
  }
  .bedrag {
    width: 150px;
    flex-grow: 0;
    height: 20px;
    line-height: 20px;
    text-align: right;
  }
}
