.status {
  position: relative;
  z-index: 3;
  margin-bottom: $lineHeight;
  height: $statusSize;

  ul {
    list-style: none;

    padding: .5rem 1rem 0 .5rem;
    border-radius: 5px;
    background-color: rgba(#fff, 0);
    margin-top: -.5rem;
    
    overflow: hidden;
    
  }
  input {
    position: absolute;
    opacity: 0;
  }
  
  strong {
    
    position: relative;
    
    display: block;

    padding-left: $statusSize + 1rem;
    max-height: 0;
    overflow: hidden;
    margin: 0;

    transition: max-height 0;
//    transition-delay: .3s;
    
    font-size: $fontSmallSize;
    line-height: $statusSize;
    color: lighten($textColor, 20);

    
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: $statusSize;
      height: $statusSize;
      box-sizing: border-box;
      border: 4px solid $lightColor;
      transform: rotate(45deg);
      border-radius: 50%;

      background-color: #fff;
      .accordion & {
        border-color: darken($lightColor, 20);
      }
    }
    
    &:after {
      content: '';
      position: absolute;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      left: ($statusSize - 1rem) / 2;
      top: ($statusSize - 1rem) / 2;
      background-color: $textColor;
      opacity: 0;
      transition: opacity .3s;
    }
    
  }
  [disabled] + strong {
    opacity: .5;
    cursor: not-allowed;
  }
  .status-bezig strong:before {
    border-top-color: red;
    border-right-color: red;
  }
  .status-opgevoerd strong:before {
    border-color: green;
  }
  
  .status-gecontroleerd strong {
    &:after {
      content: '';
      position: absolute;
      left: $statusSize / 4;
      top: $statusSize / 5;
      width: $statusSize / 2;
      height: $statusSize / 4;
      border: 4px solid #fff;
      border-right: none;
      border-top: none;
      transform: rotate(-45deg);
      opacity: 1 !important;
      border-radius: 0;
      background-color: transparent;
      
    }
  }
  
  
  .status-gecontroleerd strong {
    &:before {
      border-color: green;
      background-color: green;
    }
  }
  &:hover {
    z-index: 4;
    ul {
      background-color: rgba(#fff, 1);
      box-shadow: 0 0 5px 0 rgba(#000, .2);
    }
    
    strong {
      max-height: $statusSize;
      margin-bottom: .5rem;
    }
    label:hover strong {
      color: $textColor;
      &:after {
        opacity: .2;
      }
    }
    :checked + strong,
    label :checked + strong {
      
      &:after {
        opacity: 1;
      }
    }
  }
  :checked + strong {
    color: $textColor;
    max-height: $statusSize;
    
  }
  
  [disabled] + strong {
    max-height: 0;
    margin-bottom: 0;
  }
  [disabled]:checked + strong {
    max-height: $statusSize;
  }
  label [disabled]:checked + strong {
    &:after {
      opacity: 0;
    }
  }
  
}

.status-container {
  display: flex;
  
  .form-row {
    z-index: auto;
  }
  .label-widget {
    > label {
      display: none;
    }
  }
  .status {
    position: relative;
    width: $statusSize + 1rem;
    display: none;
  }
  strong {
    max-width: 0;
  }
  ul {
    position: absolute;
    left: 0;
    top: -2px;
    &:hover {
      strong {
        max-width: 150px;
      }
    }
  }
  
}
.team-gka {
  .status-gka {
    display: block;
  }
}
.team-madi {
  .status-madi {
    display: block;
  }  
}
.team-admin {
  .status-madi {
    display: block;
  }
  .status-gka {
    display: block;
  }
}