.table {
  line-height: 1.2;  
  table {
    width: 100%;
    border-spacing: 0;
    text-align: left;

    
    overflow: hidden;

    th,
    td {
      vertical-align: top;
      padding: .5rem;
      border-bottom: 1px solid $lightColor;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
    
    tbody > tr:nth-child(2n+1) {
      background-color: rgba($lightColor, .2);
    }
    
    tbody th {
      position: relative;
      a {
        text-decoration: none;
        display: block;
        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          width: 100vw;
          background-color: rgba(#000, 0);
          border-bottom: 1px solid rgba(#000, 0);
          transition: all .3s;
        }
        &:hover {
          &:before {
            border-color: $textColor;
          }
        }
      }

    }
  }
  .empty-table {
    text-align: center;
    padding: $padding / 2;
  }
}
