.table {
  line-height: 1.2;  
  table {
    width: 100%;
    border-spacing: 0;
    text-align: left;
    margin-bottom: $lineHeight;

    overflow: hidden;
    th {
      text-align: left;
    }

    th,
    td {
      vertical-align: top;
      padding: .5rem;
      border-bottom: 1px solid $lightColor;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
    
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    
    tbody > tr:nth-child(2n+1) {
      background-color: rgba($lightColor, .2);
    }
    
    .row-link {
      overflow: hidden;
      th {
        position: relative;
      }
      td, th {
        transition: border .3s;
      }
      &:hover {
        td, th {
          border-color: $textColor;
        }
      }
      th a {
        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          height: 10em;
          width: 100vw;
          background-color: rgba(#000, 0);
        }
        &:hover {
          text-decoration: none;
        }
      }
      
    }
  }
}
.empty-table {
  text-align: center;
  padding: $padding / 2;
}

.table-actions {
  .link {
    opacity: .4;
  }
  tr:hover {
    .link {
      opacity: 1;
    }
  }
}
