.tabs {
  margin: 0 0 $lineHeight 0;
  overflow: hidden;
  ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0 (-$padding/2);
    border-bottom: 3px solid $lightColor;
  }
  li {
    
    a {
      text-align: center;
      display: block;
      font-weight: 700;
      font-size: 1.6rem;
      text-decoration: none;
      padding: $padding/2;
      border-bottom: 3px solid $lightColor;
      margin-bottom: -3px;
      
      transition: all .3s;
      
      &:hover {
        border-color: $textColor;
      }
    }
    &.active a {
      border-bottom-color: $brandColor1;
      
    }
  }
}

.accordion-container {
  
  > h2 {
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .accordion {
    margin-bottom: $padding / 2;
    background-color: $lightColor;
    padding: 8px 15px;
    border-radius: 2px;
    transition: background-color .3s;
    .accordion-header {
      padding-right: 26px;
      position: relative;
      > a {
        color: #000000;
        display: block;
        text-decoration: none;
        &:after {
          content: url("/pix/chevron-down.svg");
          width: 16px;
          height: 16px;
          position: absolute;
          right: 0;
          top: 0;
        }
      }
    }
    &.open .accordion-header > a:after {
      content: url("/pix/chevron-up.svg");
    }
    &.open {
      background-color: darken($lightColor, 2);
    }
    .accordion-body {
      height: 0;
      overflow: hidden;
    }
    &.open .accordion-body {
      height: auto;
      padding-top: 10px;
    }
  }
}
