.tabs {
  margin: 0 0 $lineHeight 0;
  overflow: hidden;
  ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0 (-$padding/2);
    border-bottom: 3px solid $lightColor;
  }
  li {
    
    a {
      text-align: center;
      display: block;
      font-weight: 700;
      font-size: 1.6rem;
      text-decoration: none;
      padding: $padding/2;
      border-bottom: 3px solid $lightColor;
      margin-bottom: -3px;
      
      transition: all .3s;
      
      &:hover {
        border-color: $textColor;
      }
    }
    &.active a {
      border-bottom-color: $brandColor1;
      
    }
  }
}

.accordion-container {
  
  > h2 {
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .accordion {
    margin-bottom: $padding / 2;
    background-color: $lightColor;
    padding: 8px 15px;
    border-radius: 2px;
    transition: background-color .3s;
    .accordion-header {
      
      position: relative;
      > a {
        color: #000000;
        display: block;
        text-decoration: none;
        padding-right: 26px;
        &:before,
        &:after {
          content: '';
          position: absolute;
          right: 0;
          top: 8px;
          width: 14px;
          height: 4px;
          background-color: $textColor;
          transform: rotate(-45deg);
          transition: all .3s;
        }
        &:after {
          right: 8px;
          transform: rotate(45deg);
        }
      }
    }
    &.active .accordion-header > a {
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
    &.active {
      background-color: darken($lightColor, 2);
    }
    .accordion-body {
      max-height: 0;
      overflow: hidden;
      transition: max-height .3s;
    }
    &.active .accordion-body {
      max-height: 2000px;
    }
  }
}
