.voorlegger-header {
  display: flex;
  height: 20px;
  .naam {
    height: 20px;
    line-height: 20px;
    margin-right: auto;
  }
  .status {

    line-height: 20px;
    span {
      padding-left: 17px;
      font-size: 0;
      &:before {
        content: '';
        display: inline-block;
        height: 17px;
        width: 17px;
        background-image: url(/pix/bezig.png);
      }
      &.afgerond:before {
        background-image: url(/pix/compleet.png);
      }
      &.na:before {
        background-image: none;
      }
    }
  }
  .nvt {
    height: 20px;
    line-height: 20px;
    width: 50px;
  }
}
