.dossier {
  .row {
    display: flex;
    margin-bottom: 20px;
    & > * {
      width: 45%;
      padding: 0 2.5%;
    }
    .col-1-1 {
      width: 100%;
    }
    .col-1-2 {
      width: 45%;
      padding: 0 2.5%;
    }
    &.row-max-height {
      overflow-y: auto;
      max-height: 400px;
    }
  }
  .button, button {
    line-height: 38px;
    font-size: $fs-default;
    padding: 0 25px;
  }
  .form-changed & .in-progress .dossier__save,
  .dossier__save {

    background: #fff;
    color: grey;
    border: 1px solid grey;
    cursor: initial;
    pointer-events: none;
    transition: all .3s;
    margin: 0;
  }
  .form-changed & button[type="submit"] {
    background: $brandColor1;
    border-color: $brandColor1;
    cursor: pointer;
    pointer-events: auto;
    color: #fff;
  }
  &:before {
    content: '';
    position: absolute;
    width: calc(100% - 425px);
    height: 1px;
    right: 0;
    background-color: $borderColor2;
    top: 50px;
  }
  &:after {
    content: '';
    position: absolute;
    width: 370px;
    height: 1px;
    left: 50px;
    background-color: $borderColor2;
    top: 50px;
  }
}

.voorlegger-header {
  display: flex;
  position: relative;
  .naam {
    a {
      font-size: $fontSize;
      margin-right: auto;
      font-family: inherit;
      line-height: 40px;
      position: absolute;
      width: 100%;
      height: 40px;
    }
    strong {
      display: inline-block;
      max-width: 245px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  .nvt {
    cursor: pointer;
    opacity: 1;
    position: absolute;
    left: 360px;
    top: 10px;
    width: 26px;
    height: 26px;
    input {
      opacity: 0;
    }
    //&:hover input {
    //  opacity: 1;
    //}
    input {
      position: absolute;
      width: 26px;
      height: 26px;
      margin: 0;

    }
    input[type=checkbox]:checked + span {
      display: block;
      opacity: 1;
    }
    span {
      opacity: .3;
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;
      color: black;
      font-family: "Avenir Next LT W01 Demi", verdana, sans-serif;
      font-size: 8px;
      width: 20px;
      line-height: 18px;
      text-align: center;
      transition: opacity .3s;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 16px;
        height: 16px;
        border: 2px solid black;
        border-radius: 50%;
      }
    }
    label {
      padding: 0;
      font-size: 0;

    }
  }
  &.status-nvt {
    .status-container,
    .voortgang {
      opacity: 0;
      pointer-events: none;
    }
    .naam {
      opacity: .3;
    }
    .nvt {
      position: absolute;
      right: 0;
    }

  }
  a {
    text-decoration: none;
  }
  .voortgang {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 0 1rem;
    height: 20px;
    line-height: 20px;
    order: 5;
    margin-left: 10px;
    @extend .icon-document;
    background-repeat: no-repeat;
    &:before {
      content: '';
      position: absolute;
      top: 12px;
      left: 10px;
      width: 12px;
      height: 12px;
      background-color: $colorBgDark;
      border-radius: 50%;
    }
    span {
      position: absolute;
      top: 12px;
      left: 6px;
      color: white;
      font-size: 8px;
      line-height: 12px;
      width: 20px;
      text-align: center;
    }
  }
  .status-container {
    padding: 0 0 0 1rem;
    order: 5;
  }
  &:hover,
  .active & {
    .nvt span {
      //opacity: 1;
    }
  }
  &:hover {
    background: white;
  }
  transition: transform .4s $transitionEaseDefault;
  &.hide {
    transform: translateY(-100%);
  }

}

.dossier__voorlegger__sectie {
  min-width: 400px;
  position: relative;
  height: 100%;
  background-color: white;
  padding-right: 800px;
}

.accordion-body,
.form-checks {
  .label-widget {
    align-items: center;
    padding: 1rem 0;
    > label {
      padding: 0 2rem 0 0;
      flex-basis: 40%;
    }
    .status {
      margin: 0;
    }
  }
  .form-row {
    border-top: 1px solid $lightColor;
    border-bottom: 1px solid $lightColor;
  }
  .form-row + .form-row {
    margin-top: calc(-#{$lineHeight} - 1px);
  }

}

.voorlegger {
  padding-top: $headerHeight;
  padding-left: 0;
  padding-right: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: $lightColor2;

  .document-container {
    margin: 0;
    top: 0;
    height: 100%;
    width: 100%;
    max-width: none;
    //max-width: 1800px;
    position: relative;
    //transform-origin: -50px left;
    transform: translate(0, 0);
    transition: transform .4s $transitionEaseDefault;
  }
  .document-header {
    width: 100%;
    margin: 0;
    background-color: transparent;
    display: block;
  }
  &.splitter-active .document-container {
    transform: translate($pdfSplitterWidth, 0);
  }

}

.voorlegger__tools {
  position: absolute;
  right: 0;
  top: 0;
}

.dossier {
  //position: relative;
  //height: 100%;
}

.dossier__aside {

  max-width: $voorleggerMaxWidth;

}

.dossier__container {
  h2 {
    font-size: 18px;
    padding: 8px 15px;
    margin-top: 4rem;
    font-weight: bold;
    border-bottom: 1px solid #000;
    margin-left: 10px;
  }
}
.dossier__item__verwijderd {
  display: none;
}
.dossier__item {
  //padding: 8px 15px;
  //border-bottom: 1px solid $borderColor2;
  transition: height .5s;

  //border: none !important;
  margin-bottom: -1px;
  .dossier > & .dossier__voorlegger__body {
    pointer-events: auto;
    opacity: 1;
    transform: scale(1, 1);
    z-index: 2;
    border-color: transparent;
    .dossier__voorlegger__sectie {
      background-color: transparent;
    }
  }
  .nvt-toggle {
    opacity: .3;
    cursor: pointer;
    position: absolute;
    left: 360px;
    top: 10px;
    width: 26px;
    height: 26px;
    span {
      position: absolute;
      top: 0;
      left: 0;
      color: black;
      font-size: 8px;
      width: 20px;
      line-height: 18px;
      text-align: center;
      transition: opacity .3s;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 16px;
        height: 16px;
        border: 2px solid black;
        border-radius: 50%;
      }
    }
  }
  &.hide {
    height: 0;
    border-color: transparent;
    overflow: hidden;
  }
  &.status-nvt {
    .status-container,
    .voortgang {
      opacity: 0;
      pointer-events: none;
    }
    .naam a {
      opacity: .3;
    }
    .nvt-toggle {
      position: absolute;
      right: 0;
      opacity: 1;
    }
  }
  .nvt-input {
    position: absolute;
    top: 42px;
    right: calc(10% + 85px);
    label {
      display: block;
      width: 0;
      height: 0;
      opacity: 0;

    }
    .label-widget:before {
      content: 'N.v.t.';
      display: inline;
    }
    .status {

    }

  }
  &.nvt {
    .nvt-input {
      right: 10%;
    }
  }
}

.dossier__voorlegger__header {
  position: relative;
  border-width: 1px;
  border-style: solid;

  border-color: transparent;
  border-bottom: 1px solid $borderColor2;
  height: 40px;
  line-height: 40px;
  margin: 0;
  z-index: 4;
  margin-left: 2px;
  padding: 1px 1px 1px 15px;
  width: 381px;
  a {

  }
  &:hover a:before {
    background-color: rgba(#000, .1);
  }
  &:hover {
    border-top: 1px solid black;
    background: $lightColor3;
    z-index: 5;
  }
  .drop-over & {
    border: 2px dashed black !important;
    padding: 0 0 0 14px;
  }
  .activate & {
    &:before {

    }
  }
  .bedrag {
    position: absolute;
    right: 50px;
  }
  .voortgang {
    right: 50px;
  }
  .bedrag + .voortgang {
    right: 10px;
  }
}

.dossier__voorlegger__body {
  overflow-x: auto;
  overflow-y: hidden;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  left: $voorleggerMaxWidth + 5px;
  right: 0;
  top: 50px;
  bottom: 0;
  transition: all .5s $transitionEaseDefault;
  width: calc(100vw - 429px);
  height: calc(100vh - 104px);
  transform: scale(.8, .8);
  transform-origin: 0 center;
  border: 1px solid #000;
  padding: 1px;

  .dossier > &,
  .active & {
    pointer-events: auto;
    opacity: 1;
    transform: scale(1, 1);
    z-index: 3;
  }
  .dossier > & {
    z-index: 2;
    border-color: transparent;
    .dossier__voorlegger__sectie {
      background-color: transparent;
    }
  }
  .create-form-changed & {
    button[type="submit"] {
      background-color: $brandColor1;
      pointer-events: auto;
      border-color: $brandColor1;
      color: #fff;
    }
  }
  .drop-over & {
    border: 2px dashed #000 !important;
    padding: 0;
  }

}

.dossier__list-container {
  position: absolute;
  height: calc(100% - 300px);
  left: 5px;
  top: 0;
  padding-top: 245px;
  pointer-events: none;
  &:before {
    content: '';
    width: $voorleggerMaxWidth;
    height: calc(100% - 245px);
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 245px;
    z-index: 1;
    box-shadow: $boxShadowDefault inset;
  }
  & > .nav-internal {
    position: absolute;
    top: 208px;
    left: 50px;
  }
  & > * {
    pointer-events: auto;
  }
}

.dossier__scroll-container {
  direction: rtl;
  overflow-y: auto;
  background-color: $lightColor2;
  height: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.dossier__scroll-content {
  direction: ltr;
  //position: relative;
  width: $voorleggerMaxWidth;
  width: 408px;
  padding-right: 14px;
  padding-bottom: 150px;
}

.dossier__item.active {
  //position: relative;

  &.drop-over:after {
    top: 2px;
    height: 40px;
  }
  .dossier__voorlegger__header {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-right: none;
    background-color: white;
    width: 402px;
    //&:before {
    //  content: '';
    //  background: white;
    //  position: absolute;
    //  right: -31px;
    //  top: -1px;
    //  border-top: 1px solid #000;
    //  border-bottom: 1px solid #000;
    //  width: 25px;
    //  height: 42px;
    //}
  }
  .voorlegger-header {
    margin-right: 21px;
  }
}

.dossier__voorlegger__sectie__content {
  position: relative;
  padding: 40px 10%;
  //overflow-y: auto;
  height: 100%;

}

.dossier__voorlegger__sectie__header {
  height: 100px;
  padding: 0 10%;
  position: relative;
  display: flex;
  vertical-align: middle;
  flex-direction: column;
  justify-content: center;
  h3 {
    font-size: 26px;
    padding-right: 85px;
  }
  hr {
    height: 1px;
    position: absolute;
    width: 80%;
    left: 10%;
    bottom: 10px;
    margin: 0;
    border-bottom: 1px $brandColor1 solid;

  }
  .status-container {
    position: absolute;
    right: 10%;
    top: 42px;
  }
  .hide {
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .status-result__label {
    display: inline;
  }
  .status-result__container {
    right: 10%;
    left: auto;
    top: 42px;
  }
  button[type="submit"] {
    position: absolute;
    right: 10%;
    top: 27px;
    background: #fff;
    border-color: gray;
    cursor: initial;
    pointer-events: none;
    color: grey;
    transition: background-color .3s, border-color .3s;
  }
  .form-changed & button[type="submit"] {
    background-color: $accentColor;
    color: #fff;
    pointer-events: auto;
    border-color: $accentColor;
  }

}

.dossier__voorlegger__sectie__body {
  //position: absolute;
  bottom: 0;
  padding: 20px 10% 40px;
  overflow-y: auto;
  height: calc(100vh - 260px);
  h4 {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  & > *:nth-last-child(1),
  & > *:nth-last-child(2) {
    label {
      //display: none;
    }
    .label-widget {
      display: block;
      //width: 100%;
    }
    .aantekening-form-row {
      margin: 0;
    }
  }
  h4 + .form-row label {
    display: none;
  }
}
.dossier__voorlegger__sectie__close {
  text-decoration: none;
  &:before {
    content: '×';
    position: absolute;
    z-index: 3;
    left: -1px;
    top: -1px;
    width: 38px;
    height: 38px;
    //border: 1px solid #000;

    text-align: center;
    cursor: pointer;
    font-size: 30px;
    line-height: 34px;
  }
}

.dossier__header {
  height: 180px;
  position: relative;
  padding-left: 50px;
  padding-top: 70px;
  max-width: 375px;
  p {
    margin: 0;
  }
  .nav-internal {
    position: absolute;
    top: 5px;
    left: 40px;
    margin: 0;
    background: transparent;
    a {
      background: none;
    }

  }
  .nav-internal.actions {
    margin: 10px 0 0;
    position: relative;
    left: 0;
    top: 0;
    .nav {
      position: absolute;
      right: auto;
      left: 0;
    }
    .nav-open {
      height: auto;
    }
  }
  .acties-active & .nav-internal .nav {
    display: block;
  }

  h1 {
    margin-bottom: 0;
  }
  .page-toggle {
    width: 425px;
    position: absolute;
    bottom: 5px;
    left: -5px;
  }
}

.dossier__dashboard {
  top: 60px;
  left: 420px;
  //background: lightgrey;
  position: absolute;
  width: calc(100vw - 435px);
  height: calc(100vh - 110px);
  display: flex;
  .col-1-1 {
    //border-top: 1px solid #000;
    //text-align: center;
  }
  .button {
    //margin-top: 30px;
  }
  h4 {
    font-size: $fs-large;
    margin-bottom: 10px;
  }
}

.dossier__dashboard__default,
.dossier__dashboard__messages {
  padding-top: 50px;
  width: 40%;
  padding: 50px 6.666% 0;
  //max-height: 600px;
  //overflow-y: auto;
  h2 {
    margin-bottom: 20px;
  }

}
.dossier__dashboard__messages {
  padding-left: 0;
}

.dossier__workflow {
  position: absolute;
  right: 5px;
  top: 5px;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: inline-block;
  }
  .button,
  button {
    pointer-events: auto;
    cursor: pointer;
    &.primary {
      background: $brandColor1;
      border-color: $brandColor1;
      color: #fff;
      pointer-events: auto;
      cursor: pointer;

    }
    &.secondary {
      background: #fff;
      border-color: #000;
      color: #000;
      pointer-events: auto;
      cursor: pointer;
    }
  }
  .form-changed & button[type="submit"] {
    background: #fff;
    color: grey;
    border: 1px solid grey;
    cursor: initial;
    pointer-events: none;
    transition: all .3s;
    margin: 0;
  }

}

.dossier__save {
  position: absolute;
  top: 5px;
  left: 425px;
  z-index: 1;
  .in-progress &:before {
    content: '';
    @extend .icon-spinner-transparent;
    background-color: white;
    background-position: center;
    background-size: 20px;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

  }

}