.voorlegger-header {
  display: flex;
  height: 20px;
  .naam {
    font-size: $fontSize;
    height: 20px;
    line-height: 20px;
    margin-right: auto;
  }
  &.nvt {
    .naam {
      opacity: .3;
    }
  }
  a {
    text-decoration: none;
  }
  .voortgang {
    padding: 0 1rem;
    height: 20px;
    line-height: 20px;
    border-right: 1px solid rgba($textColor, .1);
  }
  .status-container {
    padding: 0 1rem;
    border-right: 1px solid rgba($textColor, .1);
  }
  .nvt {
    position: relative;
    z-index: 2;
    
    padding: 0 1rem;
    border-right: 1px solid rgba($textColor, .1);
    
    .label-widget {
      width: 60px;
      display: flex;
      label {
        order: 2;
        padding: 0;
        font-size: 0;
        &:before {
          content: 'n.v.t.';
          display: inline-block;
          font-size: $fontSize;
          line-height: 20px;
        }
      }
      
    }
  }
  
}
.voorlegger-body {
  padding: 17px 0 7px 0;
  .button {
    font-size: $fontSmallSize;
    padding: $padding / 4 $padding / 2;
  }
}
.accordion-body,
.form-checks {
  .label-widget {
    align-items: center;
    padding: 1rem 0;
    > label {
      padding: 0 2rem 0 0;
      flex-basis: 40%;
    }
    .status {
      margin: 0;
    }
  }
  .form-row {
    border-top: 1px solid $lightColor;
    border-bottom: 1px solid $lightColor;
  }
  .form-row + .form-row {
    margin-top: calc(-#{$lineHeight} - 1px);
  }
  
}