.document-workflow {
  margin-bottom: $lineHeight;
  ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }
  .well & {
    margin-bottom: 0;
  }
  
  .button {
    margin:  0 0 0 $padding / 2;
    white-space: nowrap;
  }
  
  
  
}

.document-workflow-current {
  margin-right: auto;
  align-self: center;
}