<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Gebruikers</title>
<meta name="viewport" content="width = device-width">
<link rel="stylesheet" href="/css/styles.css">
</head>


<body class="index">
	<header>
    <h1>Gebruiker</h1>
    <a class="knop" href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appgebruiker_create') }}">Nieuwe gebruiker toevoegen</a>
    </header>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
{% for gebruiker in gebruikers %}
            <tr>
                <td><a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appgebruiker_update', {'gebruikerId': gebruiker.id}) }}">{{ gebruiker.username }}</a></td>
                <td>{{ gebruiker.type }}</td>
            </tr>
{% endfor %}
       </tbody>
    </table>
</body>
</html>