<!doctype html>
<html lang="nl">
    <head>
        <meta charset="utf-8">
        <title>Gemeente Amsterdam - Schulddossier</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="refresh" content="0; URL={{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_index') }}">
    </head>
    <body>
        <p style="font-family: sans-serif; font-size: 1.0rem; padding: 20px; text-align: center; color: #666;">Even geduld. We sturen je door naar de aanmeldpagina.</p>
        <script>
window.location.href = '{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_index') }}';
        </script>
    </body>
</html>