<!-- Features -->
<h3>Nieuw</h3>
<p>Bij het verzenden naar GKA wordt nu gevalideerd of verplichte velden zijn ingevuld. Is dat niet het geval, dan wordt het dossier niet verzonden. De volgende velden worden gecontroleerd:</p>
<ul>
  <li>Er is minimaal één document toegevoegd bij <em>Legitimatie</em></li>
  <li>De achternaam en voorletters van de client zijn ingevuld</li>
  <li>Als er een partner van toepassing is: de achternaam en voorletters van de partner zijn ingevuld</li>
  <li>Er is minimaal één product geselecteerd bij <em>Ondertekende volmacht</em></li>
  <li>Als JSS is geselecteerd als product: alle drie de onderliggende velden zijn ingevuld</li>
  <li>Bij het tabblad <em>Toelichting SHV-er/Bewindvoerder</em> zijn de velden <em>Ontstaan van schulden</em> en <em>Inspanningsverplichting</em> ingevuld</li>
</ul>

<!-- Enhancements -->
<h3>Aanpassingen</h3>
<ul>
  <li>Na het toekennen van een nieuwe status aan een dossier verschijnt er een duidelijke melding voor de gebruiker</li>
  <li>De knop om een dossier naar allegro te exporteren is verwijderd uit de applicatie</li>
</ul>

<!-- Fixes -->
<h3>Opgelost</h3>
<ul>
  <li>Diverse kleine updates zijn uitgevoerd aan afhankelijkheden in het kader van beveiliging.</li>
</ul>