{% extends 'master.html.twig' %}

{% block pdfsplitter %}{% endblock %}

{% block document %}

<div class="announcement">
    <h4 class="title">Visuele weergave in browser kan afwijken</h4>
    <span class="message">
        Deze weergave in de browser kan visueel afwijken van het bron document.
        <a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_downloaddocument', {'dossierId': dossier.id, 'documentId': document.id}) }}" title="{{ document.naam }}" class="bestand-action-list-item-download">
            Download
        </a>
        het word document voor de exacte weergave.
    </span>
</div>

<div class="document well">
 {{ html_content|raw }}
</div>


{% endblock %}
