<body>
    <h1>Dossiers</h1>
    <p><a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_create') }}">Nieuw</a></p>
    <ul>
{% for dossier in dossiers %}
        <li><a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_detail', {'dossierId': dossier.Id}) }}">#{{ dossier.id }}</a></li>
{% endfor %}
    </ul>
</body>