<div class="table">
    <table>
        <thead>
            <tr>
                <th>Veld</th>
                <th>Origineel</th>
                <th>Bijgewerkt</th>
            </tr>
        </thead>
        <tbody>
            {% for field, values in updates %}
                <tr>
                    <td>{{ field }}</td>
                    <td class="logboek-update-original-value">{{ values.original }}</td>
                    <td class="logboek-update-updated-value">{{ values.updated }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>