{% import 'partial.macros.html.twig' as tools %}

            <div class="accordion {{ app.request.isXmlHttpRequest ? 'active' }}" id="voorlegger-alimentatie">
                <div class="accordion-header">
                    <div class="voorlegger-header">
                        <h3 class="naam">
                            <a href="#voorlegger-alimentatie" data-handler="toggle">Alimentatie</a>
                        </h3>
                        <div class="nvt">
                            <span class="{{ dossier.voorlegger.alimentatieNvt ? 'nvt' : 'open' }}">{{ dossier.voorlegger.alimentatieNvt ? 'n.v.t.' }}</span>
                        </div>
                    </div>

                </div>
                <div class="accordion-body">
                    <div class="voorlegger-body">
                        {{ form_row(form.alimentatieNvt) }}
                        <div class="document-bestanden">
                            {% include 'partial.files-container.html.twig' with {'form_elm': form.file, 'defaultDocumentNaam': 'Alimentatie'} only %}
                            {% include 'partial.files-list.html.twig' with {'dossierDocumenten': dossier.getDocumentenByOnderwerp('alimentatie')} only %}
                        </div>
                    </div>
                </div>
            </div>
