<div class="document-header group">
    
  <div>
    <h1 class="document-title">{{ dossier.clientNaam }}</h1>
    <p>Huidige status: <a href="#document-workflow" data-handler="scroll"><strong>{{ dossier.status|trans }}</strong></a></p>
  </div>

  <ul class="document-meta">
    {% if dossier.regasNummer %}
      <li>Regas: <strong>{{ dossier.regasNummer }}</strong></li>
    {% endif %}
    {% if dossier.allegroNummer %}
      <li>Allegro: <strong>{{ dossier.allegroNummer }}</strong></li>
    {% endif %}
  </ul>

</div>