<div class="status-result__container">
    <span class="status-result__label">Status: </span>
    {% if app.user.type == 'shv' or app.user.type == 'shv_keyuser' %}
        <div class="status-result status text-right">
            <ul>
                {% if show_nvt %}
                    <li>
                        <a href="#" class="status-nvt" data-id="-1" data-handler="status-changer" data-type="shv">
                            <strong>niet van toepassing</strong>
                        </a>
                    </li>
                {% endif %}

                <li>
                    <a href="#" class="status-shv-0 status-0" data-id="0" data-handler="status-changer" data-type="shv">
                        <strong>open</strong>
                    </a>
                </li>
                <li>
                    <a href="#" class="status-shv-1 status-1" data-id="1" data-handler="status-changer" data-type="shv">
                        <strong>bezig/incompleet</strong>
                    </a>
                </li>
                <li>
                    <a href="#" class="status-shv-2 status-2" data-id="2" data-handler="status-changer" data-type="shv">
                        <strong>opgevoerd</strong>
                    </a>
                </li>
                <li>
                    <a href="#" class="status-shv-3 status-3" data-status="" data-handler="status-changer" data-id="3"  data-type="shv"><strong>gecontroleerd</strong></a>
                </li>
            </ul>
        </div>
    {% elseif app.user.type == 'gka' or app.user.type == 'gka_appbeheerder' %}
        <div class="status-result status text-right">
            <ul>
                {% if show_nvt %}
                    <li>
                        <a href="#" class="status-nvt" data-id="-1" data-handler="status-changer" data-type="gka">
                            <strong>niet van toepassing</strong>
                        </a>
                    </li>
                {% endif %}
                <li>
                    <a href="#" class="status-gka-0 status-0" data-id="0" data-handler="status-changer" data-type="gka">
                        <strong>open</strong>
                    </a>
                </li>
                <li>
                    <a href="#" class="status-gka-2 status-2" data-id="2" data-handler="status-changer" data-type="gka">
                        <strong>bezig/incompleet</strong>
                    </a>
                </li>
                <li>
                    <a href="#" class="status-gka-3 status-3" data-handler="status-changer" data-id="3"  data-type="gka"><strong>gecontroleerd</strong></a>
                </li>
            </ul>
        </div>
    {% endif %}
</div>
