{% import 'partial.macros.html.twig' as tools %}

            <div class="accordion {{ app.request.isXmlHttpRequest ? 'active' }}" id="voorlegger-alimentatie">
                <div class="accordion-header">
                    <a href="#voorlegger-alimentatie" data-handler="toggle">
                        <div class="voorlegger-header">
                            <div class="naam">
                                Alimentatie
                            </div>
                            <div class="status">
                            </div>
                            <div class="nvt">
                                <span class="{{ dossier.voorlegger.alimentatieNvt ? 'nvt' : 'open' }}">{{ dossier.voorlegger.alimentatieNvt ? 'n.v.t.' }}</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="accordion-body">
                    <div class="voorlegger-body">
                        {{ form_row(form.alimentatieNvt) }}
                        {% include 'partial.files-container.html.twig' with {'form_elm': form.file, 'defaultDocumentNaam': 'Alimentatie'} only %}
                        {% include 'partial.files-list.html.twig' with {'dossierDocumenten': dossier.getDocumentenByOnderwerp('alimentatie')} only %}
                    </div>
                </div>
            </div>
