{% if updates is not empty %}
<div class="table">
    <table>
        <thead>
            <tr>
                <th>Veld</th>
                <th>Origineel</th>
                <th>Bijgewerkt</th>
            </tr>
        </thead>
        <tbody>
            {% for field, values in updates %}
                <tr>
                    <td class="logboek-update-field">{{ field }}</td>
                    <td class="logboek-update-original-value">{{ values.original }}</td>
                    <td class="logboek-update-updated-value">{{ values.updated }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
    <p class="logboek-no-updates">Er zijn geen velden bijgewerkt</p>
{% endif %}