<div class="document-header group">
    
  <div>
    <h1 class="document-title">{{ title }}</h1>
      <ul class="document-meta">
          <li>Cliëntnaam: <strong>{{ dossier.clientnaam }}</strong></li>
      </ul>
  </div>
</div>