<div class="document__viewer disabled" data-decorator="bestand-viewer" data-size-change="height">
    <div class="document__viewer__header">
        <span class="document__viewer__header__title"></span>
        <span class="document__viewer__header__counter"></span>
    </div>
    <div class="viewer-container">
    </div>
    <a href="#" title="Vorige pagina" class="button prev"></a>
    <a href="#" title="Volgende pagina" class="button next"></a>
    <a href="#" title="Zoom in- en uit" class="button zoom"></a>
    <span class="status"></span>
</div>