{% import 'partial.macros.html.twig' as tools %}
            <div class="accordion {{ app.request.isXmlHttpRequest ? 'active' }}" id="voorlegger-meterstanden">
                <div class="accordion-header">
                    <a href="#voorlegger-meterstanden" data-handler="toggle">
                        <div class="voorlegger-header">
                            <div class="naam">
                                Meterstanden
                            </div>
                            <div class="status">
                            </div>
                            <div class="nvt">
                            </div>
                        </div>
                    </a>
                </div>
                <div class="accordion-body">
                    <div class="voorlegger-body">
                        {% include 'partial.files-container.html.twig' with {'form_elm': form.file, 'defaultDocumentNaam': 'Meterstanden'} only %}
                        {% include 'partial.files-list.html.twig' with {'dossierDocumenten': dossier.getDocumentenByOnderwerp('meterstanden')} only %}
                    </div>
                </div>
            </div>
