                    {% if aantekeningen|length > 0 %}
                        <div class="aantekeningen">
                        {% for aantekening in aantekeningen %}
                            {% include 'Dossier/partial.aantekening.html.twig' with {'aantekening': aantekening} only %}
                        {% endfor %}
                        </div>
                    {% endif %}