<!-- Features -->
<h3>Nieuw</h3>

<h4>PDF-documenten zijn op volledig scherm te bekijken in een nieuw tabblad.</h4>
<p>In de lijst met documenten is voor elk document van het type "PDF" een knop toegevoegd. Als je op deze knop drukt wordt het document ge-opend in een nieuw tabblad. Deze knop is te vinden tussen de verwijder- en downloadknop en is herkenbaar aan dit icoon:
	<i class="icon-fullscreen"></i>
</p>

<h4>Microsoft Word-document zijn op volledig scherm te bekijken in een nieuw tabblad.</h4>
<p>In de lijst met documenten is voor elk document van het type "docx" een knop toegevoegd. Als je op deze knop drukt wordt het document ge-opend in een nieuw tabblad. Deze knop is te vinden tussen de verwijder- en downloadknop en is herkenbaar aan dit icoon:
	<i class="icon-fullscreen"></i>
</p>

<!-- Enhancements -->
<h3>Aanpassingen</h4>

<ul>
  <li>Voor functioneel beheer is op de logpagina een filter toegevoegd waarmee gezocht kan worden naar wijzigingen in gebruikersdata (zoals rechten) van een specifieke gebruiker.</li>
  <li>Voor functioneel beheer is de gebruikersrol toegevoegd als kolom in de gebruikerslijst die geëxporteerd kan worden naar Excel.</li>
</ul>

<!-- Fixes -->
<h3>Opgelost</h3>

<ul>
  <li>N.v.t.</li>
</ul>
