<p>Dankzij deze release is de navigatie binnen Schulddossier een stap overzichtelijker geworden en is de rol van Key-user toegevoegd.</p>

<h3>Nieuw</h3>
<h4>Kruimelpad en scrollen</h4>
<p>
  Binnen een dossier staat nu linksbovenin een zogenaamd kruimelpad, waarmee eenvoudiger van een sectie naar dossier en van dossier naar het startscherm genavigeerd worden.
</p>
<p>
  Een geopende sectie in 'Aanvraag' blijft bij het scrollen nu altijd in beeld, waardoor je als het goed is minder snel de weg kwijt bent.
</p>
<img width="600px" src="/images/release-notes/scrollfix-breadcrumb-anim.gif">
<h4>Meer rollen: Key-users</h4>
<p>
  In het system is voor zowel MaDi's als het GKA de rol 'Key-user' mogelijk gemaakt. Medewerkers met deze rol kunnen rechten aan hun collega's toekennen. De key-users zullen op de hoogte worden gebracht over hoe dit in zijn werk gaat.
</p>
