{% extends 'React/base.html.twig' %}

{% block title %}Dossiers - {{ parent() }}{% endblock %}

{% block body %}
  <div {{ react_component('DossiersPage', {
    dossiers,
    pagination,
  }) }}>
      Loading...
  </div>
{% endblock %}
