<!-- Features -->
<h3>Nieuw</h3>
<h4>Inactieve schuldeisers in Allegro worden 's nachts gesynchroniseerd met Schulddossier</h4>
<p>Inactieve schuldeisers in Allegro worden nu automatisch ook in Schulddossier op inactief gezet. Voorheen werden schuldeisers alleen toegevoegd vanuit Allegro, maar niet op inactief gezet. De synchronisatie met Allegro vindt elke nacht plaats.</p>

<!-- Enhancements -->
<h3>Aanpassingen</h3>
<ul>
  <li>De limiet op het aantal logberichten in het logboek is verwijderd. Om performanceproblemen te voorkomen, is paginering toegevoegd. Dit geldt zowel voor het logboek van het dossier als voor de applicatie.</li>
  <li>De volgende acties met betrekking tot documenten worden nu gelogd in het logboek: toevoegen, naar de prullenbak verplaatsen en verwijderen uit de database.</li>
  <li>De volgende acties met betrekking tot schulden worden nu gelogd in het logboek: naar de prullenbak verplaatsen en verwijderen uit de database. Het toevoegen en wijzigen van schulden werd al gelogd.</li>
  <li>Het beheren van schuldeisers in Schulddossier is verwijderd. Schuldeisers worden voortaan uitsluitend beheerd in Allegro.</li>
</ul>

<!-- Fixes -->
<h3>Opgelost</h3>
<ul>
  <li>De 'Verwijder'-knop bij het uploaden van een document werkt weer correct.</li>
  <li>Diverse kleine updates zijn uitgevoerd aan afhankelijkheden in het kader van beveiliging.</li>
</ul>