parameters:
    locale: 'nl'
    swift_auth_url: '%env(SWIFT_AUTH_URL)%'
    swift_region: '%env(SWIFT_REGION)%'
    swift_user_name: '%env(SWIFT_USER_NAME)%' 
    swift_user_domain_id: '%env(SWIFT_USER_DOMAIN_ID)%' 
    swift_user_password: '%env(SWIFT_USER_PASSWORD)%' 
    swift_project_id: '%env(SWIFT_PROJECT_ID)%' 
    swift_container_prefix: '%env(SWIFT_CONTAINER_PREFIX)%'
    swift_temp_url_key: '%env(SWIFT_TEMP_URL_KEY)%'
    swift_external_domain: '%env(SWIFT_EXTERNAL_DOMAIN)%'
    swift_public_url: 'https://%swift_project_id%.%swift_external_domain%'
    thumbnail_service_url: '%env(THUMBNAILSERVICE_URL)%'
    app_mail_from: '%env(APP_NOTIFICATIE_FROM)%'

services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false
        bind:
            $allegroEndpoint: '%env(ALLEGRO_ENDPOINT)%'
            $allegroOnbekendeSchuldeiser: '%env(ALLEGRO_ONBEKENDE_SCHULDEISER)%'


    GemeenteAmsterdam\FixxxSchuldhulp\:
        resource: '../src/*'
        exclude: '../src/{Entity,Migrations,Tests,Kernel.php}'

    # Controllers
    GemeenteAmsterdam\FixxxSchuldhulp\Controller\:
        resource: '../src/Controller'
        tags: ['controller.service_arguments']

    # Doctrine EventListeners
    GemeenteAmsterdam\FixxxSchuldhulp\EventListener\GebruikerPasswordSubscriber:
        arguments:
            - '@security.user_password_encoder.generic'
        tags:
            - { name: doctrine.event_subscriber, connection: default }
    GemeenteAmsterdam\FixxxSchuldhulp\EventListener\DocumentUploadSubscriber:
        tags:
            - { name: doctrine.event_subscriber, connection: default }
    GemeenteAmsterdam\FixxxSchuldhulp\EventListener\ThumbnailUploadSubscriber:
        tags:
            - { name: doctrine.event_subscriber, connection: default }

    # Symfony EventListeners
    GemeenteAmsterdam\FixxxSchuldhulp\EventListener\MailNotitificationSubscriber:
        arguments:
            - '@mailer'
            - '%env(APP_NOTIFICATIE_FROM)%'
            - '@logger'
    
    # Services
    GemeenteAmsterdam\FixxxSchuldhulp\Service\FileStorageSelector:
        #lazy: true
        arguments:
            - '@flysystem_dossier'
            - '@flysystem_thumbnail'
    GemeenteAmsterdam\FixxxSchuldhulp\Service\ApplicationVersion:
        arguments:
            - '%kernel.environment%'
            - '%kernel.project_dir%'
    GemeenteAmsterdam\FixxxSchuldhulp\Service\ThumbnailGenerationService:
        arguments:
            - '%swift_container_prefix%'
            - '%swift_temp_url_key%'
            - '%swift_public_url%'
            - '@doctrine.orm.entity_manager'
            - '%thumbnail_service_url%'
        tags:
            - { name: kernel.event_subscriber }
    
    # Twig
    GemeenteAmsterdam\FixxxSchuldhulp\Twig\DocumentThumbnailExtension:
        public: false
        arguments:
            - '@GemeenteAmsterdam\FixxxSchuldhulp\Service\ThumbnailGenerationService'
            - '%swift_container_prefix%'
            - '%swift_temp_url_key%'
            - '%swift_public_url%'
        tags:
            - { name: twig.runtime }
    
    # Serializer
    json_serializer:
        class: Symfony\Component\Serializer\Serializer
        arguments:
            0:
                - '@GemeenteAmsterdam\FixxxSchuldhulp\Normalizer\DateTimeNormalizer'
                - '@GemeenteAmsterdam\FixxxSchuldhulp\Normalizer\FormErrorIteratorNormalizer'
                - '@GemeenteAmsterdam\FixxxSchuldhulp\Normalizer\GebruikerNormalizer'
                - '@GemeenteAmsterdam\FixxxSchuldhulp\Normalizer\DossierDocumentNormalizer'
                - '@GemeenteAmsterdam\FixxxSchuldhulp\Normalizer\SchuldeiserNormalizer'
                - '@GemeenteAmsterdam\FixxxSchuldhulp\Normalizer\SchuldItemNormalizer'
            1:
                - '@json_encoder'
        public: true
    json_encoder:
        class: Symfony\Component\Serializer\Encoder\JsonEncoder
        public: false

    # OpenStack
    openstack:
        class: OpenStack\OpenStack
        lazy: true
        arguments:
            - { authUrl: '%swift_auth_url%', region: '%swift_region%', user: { name: '%swift_user_name%', domain: { id: '%swift_user_domain_id%' }, password: '%swift_user_password%' }, scope: { project: { id: '%swift_project_id%' } } }
    openstack_objectstore:
        class: OpenStack\ObjectStore\v1\Service
        lazy: true
        factory: ['@openstack', 'objectStoreV1']
    openstack_objectstore_container_dossier:
        class: OpenStack\ObjectStore\v1\Models\Container
        lazy: true
        factory: ['@openstack_objectstore', 'getContainer']
        arguments:
            - '%swift_container_prefix%dossier'
    openstack_objectstore_container_thumbnail:
        class: OpenStack\ObjectStore\v1\Models\Container
        lazy: true
        factory: ['@openstack_objectstore', 'getContainer']
        arguments:
            - '%swift_container_prefix%thumbnail'
            
    # Flysystem
    flysystem_openstack_adapter_dossier:
        class: Nimbusoft\Flysystem\OpenStack\SwiftAdapter
        lazy: true
        arguments:
            - '@openstack_objectstore_container_dossier'
    flysystem_dossier:
        class: League\Flysystem\Filesystem
        lazy: true
        arguments:
            - '@flysystem_openstack_adapter_dossier'
    flysystem_openstack_adapter_thumbnail:
        class: Nimbusoft\Flysystem\OpenStack\SwiftAdapter
        lazy: true
        arguments:
            - '@openstack_objectstore_container_thumbnail'
    flysystem_thumbnail:
        class: League\Flysystem\Filesystem
        lazy: true
        arguments:
            - '@flysystem_openstack_adapter_thumbnail'
            
    # Security
    GemeenteAmsterdam\FixxxSchuldhulp\Security\OidcAuthenticator:
        bind:
            $clientId: '%env(IAM_CLIENT_ID)%'
            $clientSecret: '%env(IAM_CLIENT_SECRET)%'
            $baseUrl: '%env(IAM_URL)%'

    GemeenteAmsterdam\FixxxSchuldhulp\Security\LogoutSuccessHandler:
        bind:
            $url: '%env(IAM_LOGOUT_URL)%'

    GemeenteAmsterdam\FixxxSchuldhulp\Allegro\SchuldHulpAlt\SchuldHulpService:
        arguments:
            -
                location: '%env(ALLEGRO_ENDPOINT)%?service=SchuldHulpService'
            - '%kernel.project_dir%/doc/modified_schuldhulpservice.wsdl'