<h3>Nieuw</h3>

<h4>Kleine verbeteringen</h4>
<ul>
  <li>
    I.v.m. WSNP-aanvraag kan oorspronkelijk schuldbedrag worden ingevoerd bij een schuld
  </li>
  <li>
    Bij de dossiers staat de cliëntnaam nu met voorletters
  </li>
  <li>
    De MaDi Key-users staan nu ook bij de lijst met filters
  </li>
  <li>
    Op meerdere plekken is paginering toegepast om prettiger door lange lijsten te kunnen navigeren
  </li>
  <li>
    Op diverse plekken staan de verplichte velden gemarkeerd
  </li>
</ul>

<h4>Zichtbaarheid van dossiers</h4>
<p>
  Op verzoek van MaDi's zijn dossiers die nog niet (voor de eerste keer) zijn ingediend bij het GKA nog niet zichtbaar voor het GKA.
</p>
<h4>Aan specifieke collega ter controle aanbieden</h4>
<p>
  Dossiers kunnen nu ter controle worden aangeboden aan een specifieke collega. Indien er een algemeen control-mailadres bekend is, staat die standaard geselecteerd.
</p>
<img width="650px" src="/images/release-notes/controle-persoon.png">

<h3>Opgelost</h3>
<ul>
  <li>
    Iedere gebruiker ziet weer de prullenbak in het dossier-overzicht
  </li>
  <li>
    MaDi Key-users zien in de prullenbak ook dossiers van collega's
  </li>
  <li>
    De MaDi Key-users staan nu ook bij de lijst met filters
  </li>
  <li>
    Bij de dossiers staat de cliëntnaam nu met voorletters
  </li>
</ul>
