{% extends 'master.html.twig' %}

{% block title %}Login - {{ parent() }}{% endblock %}

{% block pdfsplitter %}{% endblock %}

{% block document %}
<div class="document well">
    <div class="document-header">
        <h1 class="document-title">Aanmelden mislukt</h1>
        <p>Er is een fout opgetreden bij het aanmelden.</p>
    </div>
</div>
{% endblock %}