<p>Deze versie staat in het kader van verbetering van efficient (scherm)ruimtegebruik.</p>
<h3>
    <a href="#next">Samenvatting</a>
</h3>
<h4>Nieuw:</h4>
<ul>
    <li>
        <a href="#introductie-dashboard" title="Introductie dashboard">
          Introductie dossier-dashboard
        </a>
    </li>
    <li>
        <a href="#context-in-beeld" title="Context in beeld: secties + inhoud + document-view">
          Context in beeld: secties + inhoud + document-view
        </a>
    </li>
    <li>
        <a href="#snellere-dossiercontrole" title="Snellere dossiercontrole">
          Snellere dossiercontrole
        </a>
    </li>
    <li>
      <a href="#kleine-andere-veranderingen">
        Kleine andere aanpassingen
    </a>
    </li>


</ul>
<h4>Opgelost:</h4>
<ul>
    <li>
        bug 1
    </li>
    <li>
        bug 2
    </li>
</ul>

<h2>Nieuw</h2>
<h3 id='introductie-dashboard'>Introductie dossier-dashboard</h3>
<p>Het dossier-dashboard is wat je standaard gaat zien wanneer je een dossier opent. Het heeft als doel een snel
    overzicht te krijgen van de status van het dossier. De inhoud zal in de toekomst worden uitgebreid, maar bevat bij
    deze update al:</p>
<ul>
    <li>
        Algemene dossierinformatie
    </li>
    <li>
        De oude overleg-tab voor discussie
    </li>
</ul>
<img width="700px" src="/images/release-notes/dashboard.jpg">
<h3 id="context-in-beeld">Context in beeld</h3>
<p>
  Er wordt vanaf deze release meer van de ruimte op het scherm gebruik gemaakt. De document-viewer is geïntegreerd in de secties van het dossier. Zo blijft nu, wanneer je er een pdf-document mee bekijkt, de context ervan in beeld; dus de inhoud van de sectie, en de lijst met andere secties. Voorheen was dit lastiger, omdat bij het openklappen van een sectie de andere aan de kant gedrukt werden.
</p>
<img width="800px" src="/images/release-notes/context.jpg">

<h3 id="snellere-dossiercontrole">Snellere dossiercontrole</h3>

<p>
  Er kan nu ook door het dossier genavigeerd worden met het toetsenbord.
  <ul><li>Gebruik de pijl-toetsen naar boven en beneden om tussen secties te navigeren. </li>
    <li>Gebruik de pijl-toetsen naar links en rechts om binnen en sectie tussen documenten te navigeren.</li>
  </ul>
</p>
<img width="800px" src="/images/release-notes/controle.jpg">

<h3 id="kleine-andere-veranderingen">Kleine andere veranderingen</h3>
<h4>Markeren als n.v.t.</h4>
<p>Om een sectie nu als niet van toepassing (n.v.t.) te markeren, verander je nu de status.</p>
<img width="300px" src="/images/release-notes/nvt-markering.jpg">
<h4>Dossier-status</h4>
<p>De status van het dossier is nu altijd rechtsbovenin het dossier in beeld. Vanad die plek kan de status ook naar de volgende stap worden doorgezet.</p>
<img src="/images/release-notes/status-stappen.jpg">
