<p>In deze grote release ligt de focus op m.n. digitalisering van het aanvraagformulier.</p>

<h3>Nieuw</h3>


<h4>Digitalisering aanvraagformulier en dossier-dashboard</h4>
<p>
  Het bekende GKA aanvraagformulier voor schuldsanering kan nu digitaal worden ingevuld, waardoor er nog maar een paar dingen op papier hoeven te worden gezet, zoals een handtekening. Op het dossier-dashboard staat nu een samenvatting van de aanvraag. De informatie komt uit de verschillende secties en kan daar gewijzigd worden.
  <img width="600px" src="/images/release-notes/dashboard-edit-anim.gif">
</p>

<h3>Wist je dat...</h3>
<h4>Notificatie-mail wanneer GKA een aantekening plaatst</h4>
<p>
  Wanneer een GKA-medewerker ergens in het dossier een aantekening plaatst, krijgt de MaDi die het dossier heeft aangemaakt daar een notificatie over via de mail. Hier staat een link in naar het dossier.
</p>
