@font-face {
  font-family: 'Avenir Next LT W01 Regular';
  src: url('../fonts/AvenirNextLTW01-Regular.woff2') format('woff2'),
  url('../fonts/AvenirNextLTW01-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Avenir Next LT W01 Demi';
  src: url('../fonts/AvenirNextLTW01-Demi.woff2') format('woff2'),
  url('../fonts/AvenirNextLTW01-Demi.woff') format('woff');
}