{% set categorieen = [
	{
		'systeemNaam': 'legitimatie',
		'schermNaam': 'Legitimatie',
		'madi': true,
		'gka': true,
		'nvt': false,
		'kop': '',
	},
	{
		'systeemNaam': 'vtlb',
		'schermNaam': 'Vrij te laten bedrag (VTLB)',
		'madi': true,
		'gka': true,
		'nvt': false,
		'kop': '',
		'extraVelden': [
			{
				'systeemNaam': 'vtlbBedrag',
				'schermNaam': 'Bedrag',
			},
		],
	},
	{
		'systeemNaam': 'inkomstenspecificatie',
		'schermNaam': 'Inkomensspecificatie',
		'madi': true,
		'gka': true,
		'nvt': false,
		'kop': 'Inkomsten',
	},
	{
		'systeemNaam': 'arbeidsovereenkomst',
		'schermNaam': 'Arbeidsovereenkomst',
		'madi': true,
		'gka': true,
		'nvt': true,
		'kop': 'Inkomsten',
	},
	{
		'systeemNaam': 'beschikkingUwv',
		'schermNaam': 'Beschikking UWV',
		'madi': false,
		'gka': false,
		'nvt': true,
		'kop': 'Inkomsten',
		'extraVelden': [
			{
				'systeemNaam': 'beschikkingUwvWw',
				'schermNaam': 'WW',
			},
			{
				'systeemNaam': 'beschikkingUwvWia',
				'schermNaam': 'WIA',
			},
			{
				'systeemNaam': 'beschikkingUwvZw',
				'schermNaam': 'ZW',
			},
			{
				'systeemNaam': 'beschikkingUwvOverig',
				'schermNaam': 'Overig',
			},
		],
	},
	{
		'systeemNaam': 'voorlopigeTeruggaafBelastingdienst',
		'schermNaam': 'Voorlopige teruggave Belastingdienst',
		'madi': true,
		'gka': true,
		'nvt': true,
		'kop': 'Inkomsten',
	},
	{
		'systeemNaam': 'alimentatie',
		'schermNaam': 'Alimentatie ontvangen',
		'madi': false,
		'gka': false,
		'nvt': true,
		'kop': 'Inkomsten',
	},
	{
		'systeemNaam': 'kostgeld',
		'schermNaam': 'Kostgeld',
		'madi': true,
		'gka': true,
		'nvt': true,
		'kop': 'Inkomsten',
	},
	{
		'systeemNaam': 'huurtoeslag',
		'schermNaam': 'Huurtoeslag',
		'madi': true,
		'gka': true,
		'nvt': true,
		'kop': 'Inkomsten',
	},
	{
		'systeemNaam': 'zorgtoeslag',
		'schermNaam': 'Zorgtoeslag',
		'madi': true,
		'gka': true,
		'nvt': true,
		'kop': 'Inkomsten',
	},
	{
		'systeemNaam': 'kinderopvangtoeslag',
		'schermNaam': 'Kinderopvangtoeslag',
		'madi': true,
		'gka': true,
		'nvt': true,
		'kop': 'Inkomsten',
	},
	{
		'systeemNaam': 'kindgebondenBudget',
		'schermNaam': 'Kindgebonden budget',
		'madi': true,
		'gka': true,
		'nvt': true,
		'kop': 'Inkomsten',
	},
	{
		'systeemNaam': 'huurspecificatie',
		'schermNaam': 'Huurspecificatie / kostgeldspecificatie',
		'madi': true,
		'gka': true,
		'nvt': true,
		'kop': 'Uitgaven',
	},
	{
		'systeemNaam': 'polisbladZorgverzekering',
		'schermNaam': 'Polisblad zorgverzekering',
		'madi': true,
		'gka': true,
		'nvt': true,
		'kop': 'Uitgaven',
	},
	{
		'systeemNaam': 'alimentatieEchtscheidingsconvenant',
		'schermNaam': 'Alimentatie (echtscheidingsconvenant)',
		'madi': true,
		'gka': true,
		'nvt': false,
		'kop': 'Uitgaven',
	},
	{
		'systeemNaam': 'overeenkomstKinderopvang',
		'schermNaam': 'Overeenkomst kinderopvang + kostenspecificatie',
		'madi': true,
		'gka': true,
		'nvt': true,
		'kop': 'Uitgaven',
	},
	{
		'systeemNaam': 'kwijtscheldingGemeenteBelasting',
		'schermNaam': 'Kwijtschelding gemeentebelasting',
		'madi': false,
		'gka': false,
		'nvt': true,
		'kop': 'Uitgaven',
		'extraVelden': [
			{
				'systeemNaam': 'kwijtscheldingGemeenteBelasting',
				'schermNaam': '',
			},
		],
	},
	{
		'systeemNaam': 'corrigerenGemeenteBelasting',
		'schermNaam': 'Corrigeren gemeentebelasting',
		'madi': false,
		'gka': true,
		'nvt': true,
		'kop': 'Uitgaven',
		'extraVelden': [
			{
				'systeemNaam': 'corrigerenGemeenteBelasting',
				'schermNaam': '',
			},
		],
	},
	{
		'systeemNaam': 'auto',
		'schermNaam': 'Auto',
		'madi': false,
		'gka': false,
		'nvt': true,
		'isKop': true,
		'kop': '',
	},
	{
		'systeemNaam': 'autoTaxatie',
		'schermNaam': 'Taxatie auto',
		'madi': true,
		'gka': true,
		'nvt': true,
		'kop': 'Auto',
	},
	{
		'systeemNaam': 'autolastenKmWoonwerkverkeer',
		'schermNaam': 'Km woon-werkverkeer',
		'madi': true,
		'gka': true,
		'nvt': true,
		'kop': 'Auto',
	},
	{
		'systeemNaam': 'verklaringWerkgever',
		'schermNaam': 'Verklaring werkgever',
		'madi': true,
		'gka': true,
		'nvt': true,
		'kop': 'Auto',
	},
	{
		'systeemNaam': 'vrijwaringsbewijs',
		'schermNaam': 'Vrijwaringsbewijs',
		'madi': true,
		'gka': true,
		'nvt': true,
		'kop': 'Auto',
	},
	{
		'systeemNaam': 'inzageToetsingBkr',
		'schermNaam': 'Inzage toetsing BKR',
		'madi': true,
		'gka': true,
		'nvt': false,
		'kop': 'Schulden',
	},
	{
		'systeemNaam': 'stabilisatieovereenkomst',
		'schermNaam': 'Stabilisatieovereenkomst',
		'madi': true,
		'gka': true,
		'nvt': true,
		'kop': 'Schulden',
	},
	{
		'systeemNaam': 'cjib',
		'schermNaam': 'CJIB (niet-saneerbare vorderingen)',
		'madi': false,
		'gka': false,
		'nvt': true,
		'kop': 'Schulden',
		'extraVelden': [
			{
				'systeemNaam': 'cjib',
				'schermNaam': '',
			},
		],
	},
	{
		'systeemNaam': 'meterstandenEnergie',
		'schermNaam': 'Meterstanden huidige energiemaatschappij',
		'madi': true,
		'gka': true,
		'nvt': true,
		'kop': 'Schulden',
	},
	{
		'systeemNaam': 'retourbewijsModem',
		'schermNaam': 'Bewijs verzending modem',
		'madi': true,
		'gka': true,
		'nvt': true,
		'kop': 'Schulden',
	},
	{
		'systeemNaam': 'toelichtingAanvraagSchuldsaneringClient',
		'schermNaam': 'Toelichting aanvraag schuldsanering',
		'madi': true,
		'gka': true,
		'nvt': false,
		'kop': 'Schulden',
	},
	{
		'systeemNaam': 'bewindstellingOfbudgetbeheer',
		'schermNaam': 'Onderbewindstelling of budgetbeheer',
		'madi': false,
		'gka': false,
		'nvt': true,
		'isKop': true,
		'kop': '',
	},
	{
		'systeemNaam': 'beschikkingOnderBewindstelling',
		'schermNaam': 'Beschikking onderbewindstelling',
		'madi': true,
		'gka': true,
		'nvt': true,
		'kop': 'Onderbewindstelling of budgetbeheer',
	},
	{
		'systeemNaam': 'budgetbeheer',
		'schermNaam': 'Budgetbeheer',
		'madi': false,
		'gka': false,
		'nvt': true,
		'kop': 'Onderbewindstelling of budgetbeheer',
		'extraVelden': [
			{
				'systeemNaam': 'budgetbeheerPlangroep',
				'schermNaam': 'Plangroep',
			},
			{
				'systeemNaam': 'budgetbeheerCav',
				'schermNaam': 'CAV',
			},
			{
				'systeemNaam': 'budgetbeheerFibu',
				'schermNaam': 'Fibu',
			},
			{
				'systeemNaam': 'budgetbeheerOverig',
				'schermNaam': 'Overig',
			},
		],
	},
	{
		'systeemNaam': 'gereserveerdeGelden',
		'schermNaam': 'Gereserveerde gelden',
		'madi': true,
		'gka': true,
		'nvt': true,
		'kop': 'Onderbewindstelling of budgetbeheer',
		'extraVelden': [
			{
				'systeemNaam': 'gereserveerdeGelden',
				'schermNaam': 'Gereserveerde gelden',
			},
		],
	},
	{
		'systeemNaam': 'ondertekendAanvraagFormulier',
		'schermNaam': 'Ondertekend aanvraagformulier',
		'madi': true,
		'gka': true,
		'nvt': false,
		'kop': 'Onderbewindstelling of budgetbeheer',
	},
] %}
<!DOCTYPE html>
<html lang="nl">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{% block title %}
		Digitale Voorlegger
	{% endblock %}</title>
<meta name="viewport" content="width = device-width">
<link rel="stylesheet" href="/css/styles.css">
<script src="/js/script.js"></script>
{% block extraScripts %}

{% endblock %}
</head>

{% block body %}
<body class="{{ app.user.type }}">
{% endblock %}

	<header>
	<img src="/pix/logo_klein.svg">
	<h2>Digitale voorlegger</h2>
	<div>Ingelogd als: {{ app.user.userName }} <a href="#">(Uitloggen)</a></div>
	</header>

	{% block kleineNavigatie %}
		<p class="kleineNav">&nbsp;</p>	
	{% endblock %}

{% for type, messages in app.flashes %}
	{% for message in messages %}
		<div class="flash-message flash-type-{{ type }}">
			<a class="btn" href="#close-flash">x</a>
			<span class="message">{{ message }}</span>
		</div>
	{% endfor %}
{% endfor %}


	{% block maintag %}
<main>
	{% endblock %}

	{% block main %}
		Nog geen inhoud.
	{% endblock %}
</main>


</body>
</html>