<section id="formulierKop">
{{ form_start(form, {'attr': {'id': 'voorlegger_mainform'}}) }}

<h1>Voorlegger {{ dossier.clientNaam }}</h1>

{% if dossier.inPrullenbak %}
    <p><strong>Dit dossier staat in de prullenbak!</strong></p>
{% endif %}

<table>
	{# do form.partnerNaam.setRendered() #}
	{# do form.clientNaam.setRendered() #}
	{# do form.medewerkerSchuldhulpbureau.setRendered() #}
	{# do form.schuldhulpbureau.setRendered() #}
	{{ form_row(form.clientNaam)}}
	{{ form_row(form.status)}}
	<tr>
		<td>Partner</td>
		<td>{{ form_widget(form.partnerNaam)}}</td>
	</tr>
	<tr>
		<th colspan="2">MaDi</th>
		<th colspan="2">GKA</th>
	</tr>
	<tr>
		<td>Schuldhulpbureau</td>
		<td>{{ form_widget(form.schuldhulpbureau)}}</td>
		<td>GKA team</td>
		<td>{{ form_widget(form.teamGka)}}</td>
	</tr>
	<tr>
		<td>Naam hulpverlener</td>
		<td>{{ form_widget(form.medewerkerSchuldhulpbureau)}}</td>
	</tr>
	<tr>
		<td>Regas dossiernr.</td>
		<td>{{ form_widget(form.regasNummer)}}</td>
		<td>Allegro dossiernr.</td>
		<td>{{ form_widget(form.allegroNummer)}}</td>
	</tr>
	<tr>
		<td>Datum aanmaak dossier</td>
		<td>{{ dossier.aanmaakDatumTijd|date('d-m-Y') }}</td>
		<td></td>
	</tr>
</table>
<div class="knoppenbalk">
		<a class="tertiair">Annuleren</a>
		<input type="submit" class="primair" value="Opslaan">
	</div>
</div>
{{ form_end(form) }}
</section>
