<section id="formulierKop">
<h1>Voorlegger {{ dossier.clientNaam }}</h1>

{% if dossier.inPrullenbak %}
    <p><strong>Dit dossier staat in de prullenbak!</strong></p>
{% endif %}

<table>
	{% do form.partnerNaam.setRendered() %}
	{% do form.clientNaam.setRendered() %}
	{% do form.medewerkerSchuldhulpbureau.setRendered() %}
	{% do form.schuldhulpbureau.setRendered() %}
	{{ form_row(form.status)}}
{% if dossier.partnerNaam is not empty %}
	<tr>
		<td>Partner</td>
		<td>{{ dossier.partnerNaam }}</td>
	</tr>
{% endif %}
	<tr>
		<th colspan="2">MaDi</th>
		<th colspan="2">GKA</th>
	</tr>
	<tr>
		<td>Schuldhulpbureau</td>
		<td>{{ dossier.schuldhulpbureau }}</td>
		<td>GKA team</td>
		<td>{{ form_widget(form.teamGka)}}</td>
	</tr>
	<tr>
		<td>Naam hulpverlener</td>
		<td>{{ dossier.aanmaker.naam }}</td>
	</tr>
	<tr>
		<td>Regas dossiernr.</td>
		<td>{{ form_widget(form.regasNummer)}}</td>
		<td>Allegro dossiernr.</td>
		<td>{{ form_widget(form.allegroNummer)}}</td>
	</tr>
	<tr>
		<td>Datum aanmaak dossier</td>
		<td>{{ dossier.aanmaakDatumTijd|date('d-m-Y') }}</td>
		<td></td>
	</tr>
</table>
<div class="knoppenbalk">
		<a class="tertiair">Annuleren</a>
		<input type="submit" class="primair" value="Opslaan">
	</div>
</div>
{{ form_end(form) }}
</section>
