                        <div class="files-container">
                            <div class="file-container prototype" data-name="{{ form_elm.vars.prototype.file.vars.full_name }}">
                                {{ form_widget(form_elm.vars.prototype.naam, {'attr': {'placeholder': 'Voer een naam in voor het document'} }) }}
                                <div class="file-selector">
                                    <button>Selecteer een bestand</button>
                                    {{ form_widget(form_elm.vars.prototype.file) }}
                                </div>
                                <div class="drop-area"></div>
                            </div>
                            <a class="add" href="#add">Nieuw bestand toevoegen</a>
                        </div>
                        {% do form_elm.setRendered() %}
