{% if dossierDocumenten|length > 0 %}
  <ul class="bestanden">
    {% for dossierDocument in dossierDocumenten %}
      <li>
        <a class="bestand" title="{{ dossierDocument.document.naam }}" href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_detaildocument', {'dossierId': dossierDocument.dossier.id, 'documentId': dossierDocument.document.id}) }}"><i class="icon-file" data-extension="{{ dossierDocument.document.origineleExtensie|lower }}"></i><span class="bestand-naam">{{ dossierDocument.document.naam }}</a>
      </li>
    {% endfor %}
  </ul>
{% endif %}