{% if disableFields is defined %}
{% else %}
<h4>Documenten</h4>
{% if defaultDocumentNaam|default('') == 'Legitimatie' %}
    <p class="explanation">
        Upload hieronder een kopie van het paspoort, ID-kaart of verblijfsvergunning van de aanvrager en de eventuele partner. <b>Let op</b>: géén rijbewijs.
    </p>
{% endif %}
<div class="files-container" data-default-document-naam="{{ defaultDocumentNaam|default('') }}">
    <div class="file-container prototype" data-name="{{ form_elm.vars.prototype.file.vars.full_name }}">
        
        <a href="#bestand-verwijderen" class="bestand-verwijderen" data-handler="remove-file">verwijderen</a>
  
        <a href="#bestand-bekijken" class="bestand-zoom" title="Bekijk deze PDF" data-handler="prepare-pdf bestand">Zoom</a>
      
        <span class="bestand bestand-nieuw">
          <i class="icon-document" data-extension="nieuw">+</i>
          <span class="bestand-naam">
            {{ form_widget(form_elm.vars.prototype.naam, {'attr': {'placeholder': 'Naam document *'} }) }}
          </span>
          
        </span>
        
        <div class="file-selector">
          <label>
            {{ form_widget(form_elm.vars.prototype.file) }}
          </label>
          <span class="file"></span>
        </div>
        <div class="drop-area"></div>
    </div>
    <a class="add secundair bestand" href="#add" data-handler="add-file">
      <i class="icon-document" data-extension="nieuw">+</i>
      <span class="bestand-naam">Nieuw document toevoegen</span>
      
    </a>
</div>
{% endif %}
{% do form_elm.setRendered() %}
