<p>In deze versie is de Zoom-functionaliteit verbeterd en een dossier-logboek toegevoegd.</p>

<h3>Nieuw</h3>
<h4>Zoom-in document</h4>
<p>
  Het in- en uitzoomen van een document in de document-preview gaat nu op een iets andere manier. Door op een plek te klikken waar je op wilt inzoomen, wordt er ingezoomd op dat gedeelte. Door nog een keer te klikken wordt er weer uitgezoomd. De scrollbalken hebben plaatsgemaakt voor de mogelijkheid om het document te slepen. (zie filmpje hieronder)
</p>
<img width="600px" src="/images/release-notes/zoom-toggle-anim.gif">
<h4>Logboek</h4>
<p>
  Van elk dossier kan nu een logboek worden weergegeven. Hier is in grove lijnen terug te vinden wie wanneer wat heeft gedaan in het dossier. In een dossier vindt je het terug bij 'Alle acties' > 'Toon logboek'.
</p>
<img width="600px" src="/images/release-notes/logboek-anim.gif">

<h3>Opgelost:</h3>
<ul>
  <li>
    Soms werd je na een half uur al uitgelogd. Dat probleem is nu verholpen.
  </li>
</ul>
