<!-- Features -->
<h3>Nieuw</h3>
<p>Geen nieuwe functies toegevoegd.</p>

<!-- Enhancements -->
<h3>Aanpassingen</h3>
<ul>
  <li>Sommige berichten in het logboek zijn duidelijker gemaakt. De algemene tekst 'Dossier gewijzigd' wordt niet meer getoond als er een specifiekere melding beschikbaar is.</li>
</ul>

<!-- Fixes -->
<h3>Opgelost</h3>
<ul>
  <li>Geen problemen opgelost.</li>
</ul>