<!-- Features -->
<h3>Nieuw</h3>

<h4>Sortering dossiers op indien- en aanmaakdatum</h4>
<p>Alle dossiertabellen zijn standaard gesorteerd (nieuwer > ouder) op indiendatum, met de aanmaakdatum als secundaire sortering.</p>

<h4>Dwangakkoord</h4>
<p>Nieuwe sectie "Dwangakkoord" toegevoegd in de groep "Overige" met bijbehorende formulier-types en sjablonen.</p>

<!-- Enhancements -->
<h3>Aanpassingen</h4>

<ul>
  <li>N.v.t.</li>
</ul>

<!-- Fixes -->
<h3>Opgelost</h3>

<ul>
   <li>Bekende kwetsbaarheden in PDF en Excel plugins zijn verholpen.</li>
</ul>
