<h3>Nieuw</h3>
<h4>Sectie correspondentie</h4>
<p>
    Er is een sectie Correspondentie toegevoegd. Hierin zal het GKA post plaatsen. Zodra er een document wordt geüpload wordt er een e-mail ter notificatie verstuurd naar de dossierbehandelaar aan de MaDi kant.
</p>
<h4>Onbekende gebruikers</h4>
<p>
    Key-users en App-beheerders zien nu nieuwe gebruikers die al eens zijn ingelogd onder het kopje 'Onbekende gebruikers' in het gebruikersoverzicht. Door een rol toe te kennen aan deze gebruikers krijgen deze toegang tot Schulddossier.
</p>
<h4>Update van quick-guides en handleiding</h4>
<p>
    In de quick-guides (zie Menu > Help) staan op simpele en visuele manier de basisfuncties van Schulddossier uitgelegd. De quick-guide is aangevuld met enkele handige tips en ook de handleiding is geüpdated. In een nieuwe quick-guide voor Key-users en App-beheerders staan de stappen voor o.a. het instellen van nieuwe gebruikers uitgelegd.
</p>
<h3>Opgelost</h3>
<ul>
    <li>
        Datum-selectie werkt weer goed
    </li>
    <li>
        Het (definitief) verwijderen notities / documenten / dossiers werkt nu echt
    </li>
    <li>
        Release-notes notificatie rechtsbovenin verwijderd
    </li>
    <li>
        Username en wachtwoordvelden zijn nu verwijderd
    </li>
    <li>
        Kruimelpad is overal doorgevoerd
    </li>
</ul>