<p>Focus bij deze versie ligt op het oplossen van bugs en een veiliger manier van inloggen</p>

<h3>Nieuw</h3>
<h4 id="2fa-inlog">Nieuwe manier van inloggen</h4>
<p>Er is een nieuwe manier gebouwd om in te loggen. Dit betekent dat je je dit moet doen in twee stappen:</p>
<ul>
  <li>Geef aan voor welke organisatie je werkt</li>
  <li>(Voor MaDi) Voer je inloggegevens in van je organisatie</li>
  <li>(Voor GKA) Voer je inloggegevens in voor Schulddossier</li>
</ul>

<p>De hoofdreden voor de nieuwe manier is verbetering van de veiligheid van het systeem. Mooie bijkomstigheid voor de MaDi's: je hoeft geen extra wachtwoord te onthouden zodra je IT-beheerder dit heeft toegestaan.</p>
<img width="600px" src="/images/release-notes/keycloak-anim.gif">

<h3>Opgelost:</h3>
<ul>
  <li>
    Een aantal bugs in het nieuwe design van vorige release, met name voor Internet Explorer 11
  </li>
  <li>
    Er kan weer een bestand naar de pdf-splitter worden gesleept wanneer deze balk nog verborgen is
  </li>
  <li>
    Uploaden leidt niet meer tot dubbele bestanden
  </li>
</ul>

<h3>Kleine verbeteringen:</h3>
<ul>
  <li>
    Sectie wordt geopend wanneer je er een bestand of pagina heen sleept
  </li>
  <li>
    De tab Zoeken heet nu Alle dossiers
  </li>
</ul>
